1) Write a python program which searches all the product under a particular product from www.amazon.in. 
The product to be searched will be taken as input from user. For e.g. If user input is ‘guitar’. Then search 
for guitars.

In [2]:
import pandas as pd
import selenium 
from selenium import webdriver
import time
import warnings
warnings.filterwarnings("ignore")

In [3]:
driver=webdriver.Chrome(r"C:\Users\ABC\chromedriver.exe")

In [4]:
driver.get("https://www.amazon.in/")
time.sleep(1)

In [5]:
print("You have to search only in Electronic category \n")
product=input("Enter the product name :")

You have to search only in Electronic category

Enter the product name :laptops

In [6]:
click_2=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
click_2.send_keys(product)

In [7]:
img=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
img.click()
time.sleep(2)

In [8]:
product_opening_urls = []

for i in range(0,2):                                                  
    url=driver.find_elements_by_xpath("//a[@class='a-link-normal s-no-outline']")
    time.sleep(4)                       
    for k in url:
        product_opening_urls.append(k.get_attribute("href"))                        
        time.sleep(4)
    nxt_button=driver.find_element_by_xpath("//a[@class='s-pagination-item s-pagination-next s-pagination-button s-pagination-separator']")     #scraping the list of buttons from the pag
    nxt_button.click()
    time.sleep(4)

In [23]:
product=[]
for i in product_opening_urls :
    driver.get(i)
    
    for k in driver.find_elements_by_xpath("//h1[@class='a-size-large a-spacing-none']"):
        if k.text is None:
            product.append("--")
        else:    
            product.append(k.text)

In [25]:
pp=pd.Series(product)
print("length",len(product))
pp.head(5)

length 48

0    HP 14s 11th Gen Intel Core i3- 8GB RAM/256GB S...
1    Lenovo IdeaPad 3 10th Gen Intel Core i5 15.6" ...
2    Lenovo IdeaPad 3 Intel Celeron N4020 14'' HD T...
3    Asus Vivobook 15 X1502ZA-BQ501WS Intel® Core™ ...
4    ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...
dtype: object

2) In the above question, now scrape the following details of each product listed in first 3 pages of your 
search results and save it in a data frame and csv. In case if any product has less than 3 pages in search 
results then scrape all the products available under that product name. Details to be scraped are: "Brand 
Name", "Name of the Product", "Price", "Return/Exchange", "Expected Delivery", "Availability" and 
“Product URL”. In case, if any of the details are missing for any of the product then replace it by “-“.

In [43]:
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException,InvalidArgumentException,WebDriverException

In [92]:
Price=[]

for url in product_opening_urls:
    driver.get(url)
    time.sleep(2)
    
    try:
        prc=driver.find_element_by_xpath('//div[@class="a-section a-spacing-none aok-align-center"]')
        Price.append(prc.text)
    except NoSuchElementException:
        Price.append('--')

In [114]:
pp=[]
for i in range(len(Price)):
    pp.append(Price[i][5:13])

In [81]:
Availability=[]

for i in product_opening_urls:
    driver.get(i)
    
    av=driver.find_elements_by_xpath("//div[@class='a-section a-spacing-none }']")
    for k in av:
        if k.text is None:
            Availability.append("--") 
        else:
            Availability.append(k.text)

In [117]:
data=pd.DataFrame({"Name of the Product":product,
                  "Price":pp,
                  "Availability":Availability,
                  "Product URL":product_opening_urls})
data.head()

,Name of the Product,Price,Availability,Product URL
0,HP 14s 11th Gen Intel Core i3- 8GB RAM/256GB S...,"₹38,990\n",In stock.,https://www.amazon.in/gp/slredirect/picassoRed...
1,"Lenovo IdeaPad 3 10th Gen Intel Core i5 15.6"" ...","₹45,790\n",Only 1 left in stock.,https://www.amazon.in/gp/slredirect/picassoRed...
2,Lenovo IdeaPad 3 Intel Celeron N4020 14'' HD T...,"₹27,942\n",In stock.,https://www.amazon.in/Lenovo-IdeaPad-Celeron-P...

3) Write a python program to access the search bar and search button on images.google.com and scrape 10
images each for keywords ‘fruits’, ‘cars’ and ‘Machine Learning’, ‘Guitar’, ‘Cakes’.

In [23]:
import pandas as pd
import time
import warnings
warnings.filterwarnings('ignore')
import selenium
from selenium import webdriver
import requests

In [24]:
driver_1=webdriver.Chrome(r"C:\Users\ABC\chromedriver.exe")
driver_2=webdriver.Chrome(r"C:\Users\ABC\chromedriver.exe")
driver_3=webdriver.Chrome(r"C:\Users\ABC\chromedriver.exe")
driver_4=webdriver.Chrome(r"C:\Users\ABC\chromedriver.exe")
driver_5=webdriver.Chrome(r"C:\Users\ABC\chromedriver.exe")

In [25]:
search_1=input("Type the name : ")
search_2=input("Type the name : ")
search_3=input("Type the name : ")
search_4=input("Type the name : ")
search_5=input("Type the name : ")

Type the name : fruits
Type the name : cars
Type the name : machine learning
Type the name : guitar
Type the name : cakes

In [26]:
driver_1.get("https://images.google.com/?gws_rd=ssl")
driver_2.get("https://images.google.com/?gws_rd=ssl")
driver_3.get("https://images.google.com/?gws_rd=ssl")
driver_4.get("https://images.google.com/?gws_rd=ssl")
driver_5.get("https://images.google.com/?gws_rd=ssl")

In [27]:
cli_1=driver_1.find_element_by_xpath("/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input")
cli_1.send_keys(search_1)
cli_2=driver_2.find_element_by_xpath("/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input")
cli_2.send_keys(search_2)
cli_3=driver_3.find_element_by_xpath("/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input")
cli_3.send_keys(search_3)
cli_4=driver_4.find_element_by_xpath("/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input")
cli_4.send_keys(search_4)
cli_5=driver_5.find_element_by_xpath("/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input")
cli_5.send_keys(search_5)

In [28]:
clc_1=driver_1.find_element_by_xpath("//div[@class='zgAlFc']")
clc_1.click()
clc_2=driver_2.find_element_by_xpath("//div[@class='zgAlFc']")
clc_2.click()
clc_3=driver_3.find_element_by_xpath("//div[@class='zgAlFc']")
clc_3.click()
clc_4=driver_4.find_element_by_xpath("//div[@class='zgAlFc']")
clc_4.click()
clc_5=driver_5.find_element_by_xpath("//div[@class='zgAlFc']")
clc_5.click()

In [29]:
for i in range(20):
    driver_1.execute_script("window.scrollBy(0,1000)")
    driver_2.execute_script("window.scrollBy(0,1000)")
    driver_3.execute_script("window.scrollBy(0,1000)")
    driver_4.execute_script("window.scrollBy(0,1000)")
    driver_5.execute_script("window.scrollBy(0,1000)")

images_1=driver_1.find_elements_by_xpath("//img[@class='rg_i Q4LuWd']")
images_2=driver_2.find_elements_by_xpath("//img[@class='rg_i Q4LuWd']")
images_3=driver_3.find_elements_by_xpath("//img[@class='rg_i Q4LuWd']")
images_4=driver_4.find_elements_by_xpath("//img[@class='rg_i Q4LuWd']")
images_5=driver_5.find_elements_by_xpath("//img[@class='rg_i Q4LuWd']")

img_url_1=[]
img_data_1=[]
img_url_2=[]
img_data_2=[]
img_url_3=[]
img_data_3=[]
img_url_4=[]
img_data_4=[]
img_url_5=[]
img_data_5=[]

In [42]:
for image in images_1:
    pict_1=image.get_attribute("src")
    if pict_1 is not None:
        if(pict_1[0:4]=='http'):
            img_url_1.append(pict_1)

In [43]:
for i in range(len(img_url_1)):
    if i>10:
        break    
    print("Downloading {0} of {1} images" .format(i,10))
    responce=requests.get(img_url_1[i])
    file=open(r"D:\New folder\New folder" + str(i)+" .jpg","wb")
    file.write(responce.content)

Downloading 0 of 10 images
Downloading 1 of 10 images
Downloading 2 of 10 images
Downloading 3 of 10 images
Downloading 4 of 10 images
Downloading 5 of 10 images
Downloading 6 of 10 images
Downloading 7 of 10 images
Downloading 8 of 10 images
Downloading 9 of 10 images
Downloading 10 of 10 images

In [44]:
for image in images_2:
    pict_2=image.get_attribute("src")
    if pict_2 is not None:
        if(pict_2[0:4]=='http'):
            img_url_2.append(pict_2)

In [45]:
for i in range(len(img_url_2)):
    if i>10:
        break    
    print("Downloading {0} of {1} images" .format(i,10))
    responce=requests.get(img_url_2[i])
    file=open(r"D:\New folder\New folder (2)" + str(i)+" .jpg","wb")
    file.write(responce.content)

Downloading 0 of 10 images
Downloading 1 of 10 images
Downloading 2 of 10 images
Downloading 3 of 10 images
Downloading 4 of 10 images
Downloading 5 of 10 images
Downloading 6 of 10 images
Downloading 7 of 10 images
Downloading 8 of 10 images
Downloading 9 of 10 images
Downloading 10 of 10 images

In [46]:
for image in images_3:
    pict_3=image.get_attribute("src")
    if pict_3 is not None:
        if(pict_3[0:4]=='http'):
            img_url_3.append(pict_3)

for i in range(len(img_url_3)):
    if i>10:
        break    
    print("Downloading {0} of {1} images" .format(i,10))
    responce=requests.get(img_url_3[i])
    file=open(r"D:\New folder\New folder (3)" + str(i)+" .jpg","wb")
    file.write(responce.content)

Downloading 0 of 10 images
Downloading 1 of 10 images
Downloading 2 of 10 images
Downloading 3 of 10 images
Downloading 4 of 10 images
Downloading 5 of 10 images
Downloading 6 of 10 images
Downloading 7 of 10 images
Downloading 8 of 10 images
Downloading 9 of 10 images
Downloading 10 of 10 images

In [47]:
for image in images_4:
    pict_4=image.get_attribute("src")
    if pict_4 is not None:
        if(pict_4[0:4]=='http'):
            img_url_4.append(pict_4)

for i in range(len(img_url_4)):
    if i>10:
        break    
    print("Downloading {0} of {1} images" .format(i,10))
    responce=requests.get(img_url_4[i])
    file=open(r"D:\New folder\New folder (4)" + str(i)+" .jpg","wb")
    file.write(responce.content)

Downloading 0 of 10 images
Downloading 1 of 10 images
Downloading 2 of 10 images
Downloading 3 of 10 images
Downloading 4 of 10 images
Downloading 5 of 10 images
Downloading 6 of 10 images
Downloading 7 of 10 images
Downloading 8 of 10 images
Downloading 9 of 10 images
Downloading 10 of 10 images

In [48]:
for image in images_5:
    pict_5=image.get_attribute("src")
    if pict_5 is not None:
        if(pict_5[0:4]=='http'):
            img_url_5.append(pict_5) 

for i in range(len(img_url_5)):
    if i>10:
        break    
    print("Downloading {0} of {1} images" .format(i,10))
    responce=requests.get(img_url_5[i])
    file=open(r"D:\New folder\New folder (5)" + str(i)+" .jpg","wb")
    file.write(responce.content)

Downloading 0 of 10 images
Downloading 1 of 10 images
Downloading 2 of 10 images
Downloading 3 of 10 images
Downloading 4 of 10 images
Downloading 5 of 10 images
Downloading 6 of 10 images
Downloading 7 of 10 images
Downloading 8 of 10 images
Downloading 9 of 10 images
Downloading 10 of 10 images

4)Write a python program to search for a smartphone(e.g.: Oneplus Nord, pixel 4A, etc.) on
www.flipkart.com and scrape following details for all the search results displayed on 1st page. Details to be 
scraped: “Brand Name”, “Smartphone name”, “Colour”, “RAM”, “Storage(ROM)”, “Primary Camera”, 
“Secondary Camera”, “Display Size”, “Battery Capacity”, “Price”, “Product URL”. Incase if any of the 
details is missing then replace it by “- “. Save your results in a dataframe and CSV.

In [178]:
import pandas as pd
import time
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")

In [179]:
driver=webdriver.Chrome(r"C:\Users\ABC\chromedriver.exe")

URL="https://www.flipkart.com/"
driver.get(URL)

clk=driver.find_element_by_xpath("/html/body/div[2]/div/div/button")
clk.click()

In [180]:
search=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
clk=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")

product="Smartphones"

search.send_keys(product)
clk.click()

In [181]:
Product_oepn_urls=[]

for i in range(0,1):
    URL=driver.find_elements_by_xpath("//a[@class='_1fQZEK']")
    time.sleep(3)
    for k in URL:
        Product_oepn_urls.append(k.get_attribute('href'))

In [183]:
len(Product_oepn_urls)

24

In [184]:
from selenium.common.exceptions import NoSuchElementException

In [185]:
Brand_Name=[]
for i in Product_oepn_urls:
    driver.get(i)
    time.sleep(3)
    
    try:
        bnc=driver.find_element_by_xpath("//span[@class='B_NuCI']")
        Brand_Name.append(bnc.text)
    except NoSuchElementException :
        Brand_Name.append("--")

In [214]:
RAM=[]
for i in Product_oepn_urls:
    driver.get(i)
    time.sleep(3)
    
    try:
        ra=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[7]/div[1]/div/div[2]/ul/li[1]")
        RAM.append(ra.text)
    except NoSuchElementException :
        RAM.append("--")

In [230]:
Primary_Camera=[]
for i in Product_oepn_urls:
    driver.get(i)
    time.sleep(3)
    
    
    try:
        pcsc=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[7]/div[1]/div/div[2]/ul/li[3]")
        Primary_Camera.append(pcsc.text)
    except NoSuchElementException:
        Primary_Camera.append("--")

In [239]:
Display_Size=[] 
for i in Product_oepn_urls:
    driver.get(i)
    time.sleep(3)
    
    try:
        ds=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[7]/div[1]/div/div[2]/ul/li[2]")
        Display_Size.append(ds.text)
    except NoSuchElementException:
        Display_Size.append("--")

In [250]:
Battery_Capacity=[]
for i in Product_oepn_urls:
    driver.get(i)
    time.sleep(3)
    
    try:
        bb=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[7]/div[1]/div/div[2]/ul/li[4]")
        Battery_Capacity.append(bb.text)
    except NoSuchElementException:
        Battery_Capacity.append("--")

In [253]:
Price=[] 
for i in Product_oepn_urls:
    driver.get(i)
    time.sleep(3)
    
    try:
        price=driver.find_element_by_xpath("//div[@class='_30jeq3 _16Jk6d']")
        Price.append(price.text)
    except NoSuchElementException:
        Price.append("--")

In [259]:
data=pd.DataFrame({"Brand_name & Colour":Brand_Name,
                  "RAM & ROM":RAM,
                  "Primary & secondary Camera":Primary_Camera,
                  "Display_Size":Display_Size,
                  "Battery_Capacity":Battery_Capacity,
                  "Price":Price})
data.head(5)

,Brand_name & Colour,RAM & ROM,Primary & secondary Camera,Display_Size,Battery_Capacity,Price
0,"POCO C31 (Royal Blue, 64 GB) (4 GB RAM)",4 GB RAM | 64 GB ROM | Expandable Upto 512 GB,13MP + 2MP + 2MP | 5MP Front Camera,16.59 cm (6.53 inch) HD+ Display,5000 mAh Lithium-ion Polymer Battery,"₹8,499"
1,"MOTOROLA G60 (Moonless, 128 GB) (6 GB RAM)",6 GB RAM | 128 GB ROM,108MP + 8MP + 2MP | 32MP Front Camera,17.22 cm (6.78 inch) Full HD+ Display,6000 mAh Battery,"₹14,999"
2,"realme C35 (Glowing Green, 64 GB) (4 GB RAM)",4 GB RAM | 64 GB ROM | Expandable Upto 1 TB,50MP + 2MP + 0.3MP | 8MP Front Camera,16.76 cm (6.6 inch) Full HD+ Display,5000 mAh Lithium Polymer Battery,"₹11,999"
3,"I Kall Z5 (Pink, 16 GB) (3 GB RAM)",3 GB RAM | 16 GB ROM,8MP Rear Camera | 5MP Front Camera,13.84 cm (5.45 inch) Display,3000 mAh Battery,"₹4,799"
4,"POCO C31 (Shadow Gray, 64 GB) (4 GB RAM)",--,--,--,--,"₹8,499"

5) Write a program to scrap geospatial coordinates (latitude, longitude) of a city searched on google
maps.

In [8]:
import pandas as pd
import time
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")

In [27]:
driver=webdriver.Chrome(r"C:\Users\ABC\chromedriver.exe")

In [28]:
search=driver.get("https://www.google.com/maps")

In [29]:
city=input("Type City Name :\n")

Type City Name :
gwalior

In [30]:
search_city_name=driver.find_element_by_xpath("/html/body/div[3]/div[9]/div[3]/div[1]/div[1]/div[1]/div[2]/form/div[2]/div[3]/div/input[1]")
search_city_name.send_keys(city)

In [31]:
clk_button=driver.find_element_by_xpath("/html/body/div[3]/div[9]/div[3]/div[1]/div[1]/div[1]/div[2]/div[1]/button")
clk_button.click()

In [38]:
latitude_longitude=driver.find_elements_by_xpath("//button[@class='ZqLNQd t9f27']")

In [41]:
for i in latitude_longitude:
    print("The latitude and longitude of the",city,"is",i.text)

The latitude and longitude of the gwalior is 26.196838, 78.160676

6) Write a program to scrap details of all the funding deals for second quarter (i.e Jan 21 – March 21) 
from trak.in.

In [280]:
URL="https://trak.in/URL=https://trak.in/"
driver=webdriver.Chrome(r"C:\Users\ABC\chromedriver.exe")

In [281]:
driver.get(URL)

In [285]:
url=[]

for i in range(0,1):
    fnd=driver.find_elements_by_xpath("/html/body/div[2]/div[1]/div[2]/div[1]/ul[1]/li[9]/a")
    time.sleep(3)
    
    for k in fnd:
        url.append(k.get_attribute("href"))

In [293]:
date=[]
for i in url:
    driver.get(i)
    time.sleep(3)
    
    for k in driver.find_elements_by_xpath("//td[@class='column-2']"):
        date.append(k.text)

In [297]:
Startup_name=[]
for i in url:
    driver.get(i)
    time.sleep(3)
    
    for k in driver.find_elements_by_xpath("//td[@class='column-3']"):
        Startup_name.append(k.text)

In [300]:
Industry=[]
for i in url:
    driver.get(i)
    time.sleep(3)
    
    for k in driver.find_elements_by_xpath("//td[@class='column-4']"):
        Industry.append(k.text)

In [303]:
Sub_vertical=[]
for i in url:
    driver.get(i)
    time.sleep(3)
    
    for k in driver.find_elements_by_xpath("//td[@class='column-5']"):
        Sub_vertical.append(k.text)

In [306]:
City=[]
for i in url:
    driver.get(i)
    time.sleep(3)
    
    for k in driver.find_elements_by_xpath("//td[@class='column-6']"):
        City.append(k.text)

In [309]:
Investors_name=[]
for i in url:
    driver.get(i)
    time.sleep(3)
    
    for k in driver.find_elements_by_xpath("//td[@class='column-7']"):
        Investors_name.append(k.text)

In [312]:
Investment_type=[]
for i in url:
    driver.get(i)
    time.sleep(3)
    
    for k in driver.find_elements_by_xpath("//td[@class='column-8']"):
        Investment_type.append(k.text)

In [314]:
Amount_in_USD=[]
for i in url:
    driver.get(i)
    time.sleep(3)
    
    for k in driver.find_elements_by_xpath("//td[@class='column-9']"):
        Amount_in_USD.append(k.text)

In [320]:
data=pd.DataFrame({"Data":date,
                  "Startup_name":Startup_name,
                  "Industry":Industry,
                  "Sub_vertical":Sub_vertical,
                  "City":City,
                  "Investors_name":Investors_name,
                  "Investment_type":Investment_type,
                  "Amount_in_USD":Amount_in_USD})
data.head(29)

,Data,Startup_name,Industry,Sub_vertical,City,Investors_name,Investment_type,Amount_in_USD
0,01/04/2021,BYJU’S,Edu-tech,Online tutoring,Bengaluru,Innoven Capital,Series F,"460,000,000"
1,05/04/2021,Meesho,E-commerce,Online reselling platform,Bengaluru,SoftBank Vision Fund 2,Series E,"300,000,000"
2,14/04/2021,Swiggy,Online Food Delivery,Online Food Delivery,Bengaluru,"Amansa Holdings, Carmignac, Falcon Edge Capita...",Series J,"343,000,000"
3,07/04/2021,Groww,FinTech,Investment platform,Bengaluru,"MC Global Edtech, B Capital, Baron, others",Series D,"83,000,000"
4,14/04/2021,Beldara,E-commerce,Global B2B marketplace,Mumbai,Hindustan Media Ventures,Venture,"7,400,000"
5,04/03/2021,DealShare,E-commerce,Online shopping platform,"Jaipur, Rajasthan",Innoven Capital,Debt Financing,"250,000,000"
6,31/03/2021,Uniphore,Technology,Conversational Service Automation (CSA),Palo Alto,Sorenson Capital Partners,Series D,"140,000,000"
7,30/03/2021,Dunzo,E-commerce,Hyper-local delivery app,Bengaluru,Krishtal Advisors Pte Ltd,Series E,"8,000,000"
8,30/03/2021,BYJU’S,Edu-tech,Online tutoring,Bengaluru,"MC Global Edtech, B Capital, Baron, others",Series F,"460,000,000"
9,23/03/2021,SkilloVilla,Edu-tech,Career and job-oriented upskilling.,Bengaluru,"Titan Capital, others",Seed,"300,000,000"
10,25/03/2021,CityMall,E-commerce,Social ecommerce and online grocery platform,Gurgaon,Accel Partners,Series A,"11,000,000"
11,26/03/2021,DotPe,FinTech,Commerce and payments platform to offline ente...,Gurgaon,PayU,Series A,"27,500,000"
12,11/02/2021,Doubtnut,Edu Tech,E-Learning Platform,Gurgaon,"SIG Global, Sequoia Capital, WaterBridge Ventu...",Series B,"2,500,000"
13,22/02/2021,Zomato,Hospitality,Online Food Delivery Platform,Gurgaon,"Tiger Global, Kora",Venture,"250,000,000"
14,19/02/2021,Fingerlix,Hospitality,Semi-cooked food delivery app,Mumbai,"Rhodium Trust, Accel Partners and Swiggy",Series C,"2,747,045.20"
15,17/02/2021,Zolve,FinTech,Global Neobank Venture,Mumbai,Accel Partners and Lightspeed Venture Partners,Seed,"1,50,00,000"
16,15/02/2021,KreditBee,Finance,Digital lending platform,Bengaluru,Azim Premji’s PremjiInvest and South Korea’s M...,Series C,"75,000,000"
17,12/02/2021,Pepperfry,E-commerce,Multi-brand furniture brand,Mumbai,InnoVen Capital,Debt Financing,"4,773,958"
18,12/02/2021,Grofers,E-Commerce,Online supermarket,Gurgaon,SoftBank Vision Fund (SVF),Unspecified,"55,000,000"
19,09/02/2021,Nothing,Technology,Consumer Technology Venture,London,GV,Series A,"15,000,000"
20,09/02/2021,SplashLearn,EdTech,Game-based learning programme,Gurgaon,Owl Ventures,Series C,"18,000,000"
21,15/01/2021,Digit Insurance,Financial Services,Insurance Services,Bengaluru,"A91 Partners, Faering Capital, TVS Capital Funds",Venture,"1,80,00,000"
22,28/01/2021,Bombay Shaving Company,Consumer Goods Company,"Shave care, beard care, and skincare products",New Delhi,Reckitt Benckiser,Venture,"6,172,258.50"
23,19/01/2021,DeHaat,AgriTech Startup,online marketplace for farm products and services,Patna,Prosus Ventures,Series C,"30,000,000"
24,19/01/2021,Darwinbox,SaaS,HR Tech,Mumbai,Salesforce Ventures,Seed,"15,000,000"
25,18/01/2021,mfine,Health Tech Startup,AI-powered telemedicine mobile app,Bengaluru,Heritas Capital Management,Venture Round,"16,000,000"
26,18/01/2021,Udayy,EdTech,Online learning platform for kids in class 1-5,Gurgaon,Sequoia Capital,Seed Funding,"15,000,000"
27,11/01/2021,True Elements,Food Startup,Whole Food plant based Nashta,Pune,SIDBI Venture Capital,Series,"100,000,000"
28,13/01/2021,Saveo,B2B E-commerce,Pharmacies,Bengaluru,"Matrix Partners India, RTP Global, others",Seed,"4,000,000"

7) Write a program to scrap all the available details of best gaming laptops from digit.in.

In [3]:
import pandas as pd
import time
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")

In [362]:
driver=webdriver.Chrome(r"C:\Users\ABC\chromedriver.exe")

In [363]:
driver.get("https://www.digit.in/")

In [364]:
topL=driver.find_element_by_xpath("/html/body/div[3]/div/div[2]/div[2]/div[4]/ul/li[9]/a")
topL.click()

In [373]:
Name=[]

NNN=driver.find_elements_by_xpath("//div[@class='TopNumbeHeading sticky-footer']")
for i in NNN:
    Name.append(i.text)

In [366]:
Details=[]

dt=driver.find_elements_by_xpath("//div[@class='Wrap-pop']")
for i in dt:
    Details.append(i.text)

In [375]:
Nam=[]
for i in range(0,9):
    Nam.append(Name[i][3:])

In [417]:
Ops=[]
Display=[]
Procseeor=[]
Memory=[]

In [419]:
for i in range(1):
    Ops=Details[i::4]

In [421]:
p=[1]
for i in p:
    Display=Details[i::4]

In [422]:
l=[2]
for i in l:
    Procseeor=Details[i::4]

In [423]:
k=[3]
for i in k:
    Memory=Details[i::4]

In [426]:
data=pd.DataFrame({"Operating System":Ops,
                  "Display":Display,
                  "Procseeor":Procseeor,
                  "Memory":Memory})
data

,Operating System,Display,Procseeor,Memory
0,OS\nWINDOWS 11 HOME,"DISPLAY\n17"" (3840 X 2160)",PROCESSOR\n12TH GEN INTEL CORE I9-12900HK | 5 GHZ,MEMORY\n2 TB SSD/16 GBGB DDR5
1,OS\nWINDOWS 11 HOME,"DISPLAY\n15.6"" (2560 X 1440)",PROCESSOR\n12TH GEN INTEL CORE I9-12900H | 2.5...,MEMORY\n2 TB SSD/32 GBGB DDR5
2,OS\nWINDOWS 10,"DISPLAY\n15.6"" (1920 X 1080)",PROCESSOR\nAMD RYZEN 9 OCTA CORE | 2.4 GHZ,MEMORY\n1 TB HDD/16 GBGB DDR4
3,OS\nWINDOWS 10,"DISPLAY\n15.6"" (1920 X 1080)",PROCESSOR\nINTEL CORE I7 11TH GEN - 11375H | NA,MEMORY\n1 TB SSD/16 GBGB DDR4
4,OS\nWINDOWS 10,"DISPLAY\n15.6"" (2560 X 1440)",PROCESSOR\nAMD RYZEN 9 OCTA CORE - 5900HX | 3....,MEMORY\n2 TB SSD/32 GBGB DDR4
5,OS\nWINDOWS 10 HOME,"DISPLAY\n15.6"" (1920 X 1080)",PROCESSOR\nAMD RYZEN™ 9 5900HX | 3.3 GHZ,MEMORY\n1 TB SSD/16 GBGB DDR4
6,OS\nWINDOWS 10 HOME,"DISPLAY\n14"" (1920 X 1080)",PROCESSOR\nAMD 3RD GEN RYZEN 9 | 3.3 GHZ,MEMORY\n1 TB SSD/16 GBGB DDR4
7,OS\nWINDOWS 11 HOME,"DISPLAY\n16.1"" (1920 X 1080)",PROCESSOR\n12TH GEN INTEL CORE I7-12700H | 4.7...,MEMORY\n1 TB SSD/16 GBGB DDR4
8,OS\nWINDOWS 10,"DISPLAY\n15.6"" (3840 X 1100)",PROCESSOR\nINTEL CORE I7 10TH GEN 10875H | NA,MEMORY\n512 GB SSD/4 GBGB DDR4
9,OS\nWINDOWS 10 HOME,"DISPLAY\n15.6"" (1920 X 1080)",PROCESSOR\nAMD RYZEN™ 5-5500U HEXA-CORE | NA,MEMORY\n512 GB SSD/8 GBGB DDR4

8) Write a python program to scrape the details for all billionaires from www.forbes.com. Details to be 
scrapped: “Rank”, “Name”, “Net worth”, “Age”, “Citizenship”, “Source”, “Industry”.

In [6]:
URL="https://www.forbes.com/?sh=6bf07a452254"

driver=webdriver.Chrome(r"C:\Users\ABC\chromedriver.exe")
driver.get(URL)
time.sleep(3)

In [7]:
search=driver.find_element_by_xpath("/html/body/div[1]/header/nav/div[1]/button[1]")
search.click()
time.sleep(3)

In [8]:
search_2=driver.find_element_by_xpath("/html/body/div[1]/header/nav/div[3]/ul/li[1]")
search_2.click()
time.sleep(3)

In [9]:
product_opening_urls = []

for i in range(0,1):                                                  
    url=driver.find_elements_by_xpath("/html/body/div[1]/header/nav/div[3]/ul/li[1]/div[2]/ul/li[2]/a")
    time.sleep(4)                       
    for k in url:     
        product_opening_urls.append(k.get_attribute("href"))                        
        time.sleep(4)

In [10]:
product_opening_urls

['https://www.forbes.com/billionaires/']

In [19]:
Rank=[]

for i in product_opening_urls:
    driver.get(i)
    
    for k in driver.find_elements_by_xpath("//div[@class='rank']"):
        Rank.append(k.text)

In [12]:
Name=[]

for i in product_opening_urls:
    driver.get(i)
    
    for k in driver.find_elements_by_xpath("//div[@class='personName']"):
        Name.append(k.text)

In [13]:
Net_Worth=[]

for i in product_opening_urls:
    driver.get(i)
    
    for k in driver.find_elements_by_xpath("//div[@class='netWorth']"):
        Net_Worth.append(k.text)

In [14]:
Country=[]

for i in product_opening_urls:
    driver.get(i)
    
    for k in driver.find_elements_by_xpath("//div[@class='countryOfCitizenship']"):
        Country.append(k.text)

In [33]:
Source=[]

for i in product_opening_urls:
    driver.get(i)
    
    for k in driver.find_elements_by_xpath("//span[@class='source-text']"):
        Source.append(k.text)

In [23]:
category=[]

for i in product_opening_urls:
    driver.get(i)
    
    for k in driver.find_elements_by_xpath("//div[@class='category']"):
        category.append(k.text)

In [26]:
Age=[]

for i in product_opening_urls:
    driver.get(i)
    
    for k in driver.find_elements_by_xpath("//div[@class='age']"):
        Age.append(k.text)

In [35]:
data=pd.DataFrame({"Rank":Rank,
                 "Name":Name,
                  "Age":Age,
                 "Net_Worth":Net_Worth,
                  "Country":Country,
                  "Source":Source,
                  "Category":category
                 })
data

,Rank,Name,Age,Net_Worth,Country,Source,Category
0,1.,Elon Musk,50,$219 B,United States,"Tesla, SpaceX",Automotive
1,2.,Jeff Bezos,58,$171 B,United States,Amazon,Technology
2,3.,Bernard Arnault & family,73,$158 B,France,LVMH,Fashion & Retail
3,4.,Bill Gates,66,$129 B,United States,Microsoft,Technology
4,5.,Warren Buffett,91,$118 B,United States,Berkshire Hathaway,Finance & Investments
...,...,...,...,...,...,...,...
195,192.,Marcel Herrmann Telles,72,$10.3 B,Brazil,beer,Food & Beverage
196,197.,Leon Black,70,$10 B,United States,private equity,Finance & Investments
197,197.,Joe Gebbia,40,$10 B,United States,Airbnb,Technology
198,197.,David Geffen,79,$10 B,United States,"movies, record labels",Media & Entertainment
199,197.,Yu Renrong,56,$10 B,China,semiconductors,Manufacturing

9) Write a program to extract at least 500 Comments, Comment upvote and time when comment was posted 
from any YouTube Video.

In [49]:
from selenium.common.exceptions import NoSuchElementException

In [50]:
driver=webdriver.Chrome(r"C:\Users\ABC\chromedriver.exe")

In [51]:
driver.get("https://www.youtube.com/?feature=ytca")

In [52]:
cli=driver.find_element_by_xpath("/html/body/ytd-app/div[1]/div/ytd-masthead/div[3]/div[2]/ytd-searchbox/form/div[1]/div[1]/input")
cli.send_keys('Verna Car')

In [53]:
clk_2=driver.find_element_by_xpath("/html/body/ytd-app/div[1]/div/ytd-masthead/div[3]/div[2]/ytd-searchbox/button")
clk_2.click()

In [65]:
video_url=[]

for i in range(0,1):
    vid=driver.find_elements_by_xpath("/html/body/ytd-app/div[1]/ytd-page-manager/ytd-browse/ytd-two-column-browse-results-renderer/div[1]/ytd-rich-grid-renderer/div[6]/ytd-rich-grid-row[1]/div/ytd-rich-item-renderer/div/ytd-rich-grid-media/div[1]/div[2]/div[1]/h3/a")
    time.sleep(3)
    
    for k in vid:
        video_url.append(k.get_attribute("href"))

In [66]:
video_url

['https://www.youtube.com/watch?v=glMqtch_v00']

In [67]:
for i in video_url:
    driver.get(i)

for i in range(1000):
    driver.execute_script("window.scrollBy(0,10000)")

comments = []

cm = driver.find_elements_by_id("//div[@class='style-scope ytd-expander']")

for i in cm:

    if i.text is None:

        comments.append("--")

    else:

        comments.append(i.text)

time.sleep(5)

In [69]:
comments

[]

10) Write a python program to scrape a data for all available Hostels from https://www.hostelworld.com/ in 
“London” location. You have to scrape hostel name, distance from city centre, ratings, total reviews, 
overall reviews, privates from price, dorms from price, facilities and property description.

In [1]:
import pandas as pd
import selenium
from selenium import webdriver
import time
import warnings
warnings.filterwarnings("ignore")

In [89]:
driver=webdriver.Chrome(r"C:\Users\ABC\chromedriver.exe")

In [90]:
driver.get("https://www.hostelworld.com/")

In [98]:
search_1=driver.find_element_by_xpath("/html/body/div[3]/div/div/div[1]/div[1]/div/div[2]/div[4]/div/div[2]/div/div[1]/div/div/div/input")
search_1.send_keys("london")

In [99]:
search_2=driver.find_element_by_xpath("/html/body/div[3]/div/div/div[1]/div[1]/div/div[2]/div[4]/div/div[2]/div/div[1]/div/div/ul/li[2]")
search_2.click()

In [100]:
search_2=driver.find_element_by_xpath("/html/body/div[3]/div/div/div[1]/div[1]/div/div[2]/div[4]/div/div[2]/div/div[5]/button")
search_2.click()

In [103]:
Distance_from_city_centre=[]

dd=driver.find_elements_by_xpath("//span[@class='description']")
for i in dd:
    Distance_from_city_centre.append(i.text)

In [106]:
opening_urls=[]

ope=driver.find_elements_by_xpath("//a[@class='view-button']")
time.sleep(3)
    
for k in ope:
    opening_urls.append(k.get_attribute("href"))

In [108]:
Hostal_name=[]

for i in opening_urls:
    driver.get(i)
    time.sleep(3)
    
    for k in driver.find_elements_by_xpath("//div[@class='title-2']"):
        Hostal_name.append(k.text)

In [9]:
from selenium.common.exceptions import NoSuchElementException

In [113]:
rating=[]

for i in opening_urls:
    driver.get(i)
    time.sleep(3)
    
    try:
        pp=driver.find_element_by_xpath("//div[@class='score orange big']")
        rating.append(pp.text)
    except NoSuchElementException:
        rating.append("--")

In [115]:
Total_reviews=[]

for i in opening_urls:
    driver.get(i)
    time.sleep(3)
    
    for k in driver.find_elements_by_xpath("//div[@class='reviews']"):
        Total_reviews.append(k.text)

In [117]:
for i in range(0,1):
    Total_reviews=Total_reviews[i::2]

In [149]:
facilities=[]

for i in opening_urls:
    driver.get(i)
    time.sleep(3)
    
    try:
        ff=driver.find_element_by_xpath("/html/body/div[3]/div/div/div[1]/section/div[10]/div/ul/li[1]/ul")
        facilities.append(ff.text)
    except NoSuchElementException :
        facilities.append("--")

In [170]:
Genral_fac=[]

for i in opening_urls:
    driver.get(i)
    time.sleep(3)
   
    try:
        ff=driver.find_element_by_xpath("/html/body/div[3]/div/div/div[1]/section/div[10]/div/ul/li[2]/ul")
        Genral_fac.append(ff.text)
    except NoSuchElementException :
        Genral_fac.append("--")

In [159]:
Services_fac=[]

for i in opening_urls:
    driver.get(i)
    time.sleep(3)
   
    try:
        ss=driver.find_element_by_xpath("/html/body/div[3]/div/div/div[1]/section/div[10]/div/ul/li[3]/ul")
        Services_fac.append(ss.text)
    except NoSuchElementException :
        Services_fac.append("--")

In [161]:
Food_Drink_fac=[]

for i in opening_urls:
    driver.get(i)
    time.sleep(3)
   
    try:
        dd=driver.find_element_by_xpath("/html/body/div[3]/div/div/div[1]/section/div[10]/div/ul/li[4]/ul")
        Food_Drink_fac.append(dd.text)
    except NoSuchElementException :
        Food_Drink_fac.append("--")

In [164]:
Private_Rooms=[]

for i in opening_urls:
    driver.get(i)
    time.sleep(3)
   
    try:
        dd=driver.find_element_by_xpath("//div[@class='room-details']")
        Private_Rooms.append(dd.text)
    except NoSuchElementException :
        Private_Rooms.append("--")

In [172]:
data=pd.DataFrame({"Hostal_name":Hostal_name,
                  "Distance from citycentre":Distance_from_city_centre,
                  "Rating":rating,
                  "Total_reviews":Total_reviews,
                  "Free Facilities":facilities,
                  "Genral_fac":Genral_fac,
                  "Services_fac":Services_fac,
                  "Food_Drink_fac":Food_Drink_fac,
                  "Private_Rooms":Private_Rooms})

In [173]:
data

,Hostal_name,Distance from citycentre,Rating,Total_reviews,Free Facilities,Genral_fac,Services_fac,Food_Drink_fac,Private_Rooms
0,St Christopher's Village,Hostel - 1.8km from city centre,7.9,11206 Total Reviews,Linen Included Free City Maps Free WiFi Free I...,Security Lockers Key Card Access Common Room E...,Internet access Laundry Facilities Towels for ...,Restaurant Bar Meals Available Vending Machine...,Spacious triple bunk room complete with locker...
1,Selina Camden,Hostel - 5.5km from city centre,9.6,24 Total Reviews,--,--,--,--,The suite ofers opulent comfort with a queen s...
2,Generator London,Hostel - 3km from city centre,7.7,6943 Total Reviews,--,Wheelchair Friendly Security Lockers Key Card ...,Internet access Laundry Facilities Airport Tra...,Restaurant Bar Meals Available Vending Machine...,--
3,Safestay London Elephant & Castle,Hostel - 1.7km from city centre,7.2,4248 Total Reviews,Linen Included Free City Maps Free WiFi,Security Lockers Key Card Access Common Room E...,Internet access Laundry Facilities Towels for ...,Bar Vending Machines Cafe,--
4,St Christopher's Hammersmith,Hostel - 7.5km from city centre,7.8,4020 Total Reviews,Linen Included Free City Maps Free WiFi Free I...,Security Lockers Key Card Access Hot Showers R...,Internet access Towels for hire Luggage Storag...,Restaurant Bar Vending Machines,Spacious triple bunk room complete with locker...
5,Saint James Backpackers,Hostel - 5.5km from city centre,6.0,1789 Total Reviews,Free Breakfast Linen Included Free City Maps F...,Security Lockers Common Room BBQ Adaptors Hot ...,Internet access Towels for hire Luggage Storag...,Meals Available Vending Machines Cafe Tea & Co...,3 bed (triple bunk) private room
6,Barry House,Bed and Breakfast - 4.2km from city centre,8.6,10 Total Reviews,Free Breakfast Free City Maps Towels Included ...,Hot Showers Cots Available Cable TV Hair Dryer...,Laundry Facilities Luggage Storage 24 Hour Rec...,Tea & Coffee Making Facilities,Standard Quad Room en-suite with one Double Be...
7,Best Western Boltons London Kensington,Hotel - 5.4km from city centre,--,2 Total Reviews,Towels Included Free WiFi,Key Card Access Elevator Breakfast Not Include...,Internet access Luggage Storage 24 Hour Recept...,Tea & Coffee Making Facilities,"Contemporary room with a queen sized bed, an a..."