# 2)Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release and make data frame)

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings("ignore")

In [2]:
page1=requests.get("https://www.imdb.com/search/title/?groups=top_100&sort=release_date,asc")
page2=requests.get("https://www.imdb.com/search/title/?groups=top_100&sort=release_date,asc&start=51&ref_=adv_nxt")
print(page1)
print(page2)

<Response [200]>
<Response [200]>

In [3]:
soup1=BeautifulSoup(page1.content)
soup2=BeautifulSoup(page2.content)

In [4]:
name1=[]
name2=[]

for i in soup1.find_all('h3',class_="lister-item-header"):
    name1.append(i.text)

for i in soup2.find_all('h3',class_="lister-item-header"):
    name2.append(i.text)

In [5]:
rating1=[]
rating2=[]

for i in soup1.find_all('div',class_="inline-block ratings-imdb-rating"):
    rating1.append(i.text)
    
for i in soup2.find_all('div',class_="inline-block ratings-imdb-rating"):
    rating2.append(i.text)

In [6]:
year1=[]
year2=[]

for i in soup1.find_all('span',class_="lister-item-year text-muted unbold"):
    year1.append(i.text)
for i in soup2.find_all('span',class_="lister-item-year text-muted unbold"):
    year2.append(i.text)

In [7]:
name=name1+name2
rating=rating1+rating2
year=year1+year2

In [8]:
df=pd.DataFrame({"Name":name,"Rating":rating,"Year of release":year})
df.head(2)

,Name,Rating,Year of release
0,\n1.\nCity Lights\n(1931)\n,\n\n8.5\n,(1931)
1,\n2.\nM - Eine Stadt sucht einen Mörder\n(1931)\n,\n\n8.3\n,(1931)

Now we are going to remove special Characters

In [9]:
df['Rating']=[x.strip("\n") for x in df["Rating"]]
df["Year of release"]=[x.strip("()I") for x in df["Year of release"]]
df['Year of release']=df['Year of release'].str.replace(r'\W',"")
df['Name']=[x.strip("\n") for x in df['Name']]
df['Name']=df['Name'].str.replace(r'\W',"")
df['Name']=[x.strip("1,2,3,4,5,6,7,8,9,0") for x in df['Name']]

In [10]:
IMBD_Rating=df
IMBD_Rating

                           Name Rating Year of release
0                    CityLights    8.5            1931
1    MEineStadtsuchteinenMörder    8.3            1931
2                   ModernTimes    8.5            1936
3              TheGreatDictator    8.4            1940
4                   CitizenKane    8.3            1941
..                          ...    ...             ...
95  SpiderManIntotheSpiderVerse    8.4            2018
96              AvengersEndgame    8.4            2019
97                 Gisaengchung    8.5            2019
98                       JokerI    8.4            2019
99           SpiderManNoWayHome    8.4            2021

[100 rows x 3 columns]

# 3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [11]:
import pandas as pd
import requests
from bs4 import BeautifulSoup 
import warnings 
warnings.filterwarnings("ignore")

In [12]:
page3=requests.get("https://www.imdb.com/india/top-rated-indian-movies/")
page3

In [13]:
soup3=BeautifulSoup(page3.content)

In [14]:
name=[]

for i in soup3.find_all('td',class_="titleColumn"):
    name.append(i.text)

In [15]:
ranking=[]

for i in soup3.find_all('td',class_="ratingColumn imdbRating"):
    ranking.append(i.text)

In [16]:
year=[]

for i in soup3.find_all('span',class_='secondaryInfo'):
    year.append(i.text)

In [17]:
ss=pd.DataFrame({"Name":name,"Ranking":ranking,"Year of release":year})
ss.head(2)

                                           Name  Ranking Year of release
0  \n      1.\n      K.G.F: Chapter 2\n(2022)\n  \n8.5\n          (2022)
1        \n      2.\n      Anbe Sivam\n(2003)\n  \n8.4\n          (2003)

now we are removing unwanted characters such as \n ,(,)

In [21]:
ss['Year of release']=[x.strip("()") for x in ss['Year of release']]
ss['Ranking']=[x.strip("\n") for x in ss["Ranking"]]
ss['Name']=[x.strip("\n") for x in ss["Name"]]
ss['Name']=[x.strip("0123456789") for x in ss["Name"]]
ss["Name"]=ss["Name"].str.replace(r'\W',"")

In [22]:
IMBD_Rating_Hindi=ss.iloc[0:100,:]
IMBD_Rating_Hindi

                      Name Ranking Year of release
0               KGFChapter     8.5            2022
1                AnbeSivam     8.4            2003
2                  JaiBhim     8.4            2021
3                  Golmaal     8.4            1979
4                  Nayakan     8.4            1987
..                     ...     ...             ...
95                  Baasha     8.0            1995
96                  Masaan     8.0            2015
97            DilChahtaHai     8.0            2001
98                 Kahaani     8.0            2012
99  MaheshintePrathikaaram     8.0            2016

[100 rows x 3 columns]

# 4) Write a python program to scrape product name, price and discounts from https://meesho.com/bagsladies/pl/p7vbp .

In [23]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [24]:
page4=requests.get("https://meesho.com/bagsladies/pl/p7vbp")
page4

In [25]:
soup4=BeautifulSoup(page4.content)

In [26]:
name=[]

for i in soup4.find_all('p',class_="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS"):
    name.append(i.text)

In [27]:
price=[]

for i in soup4.find_all('h5',class_="Text__StyledText-sc-oo0kvp-0 hiHdyy"):
    price.append(i.text)

In [28]:
discounts=[]

for i in soup4.find_all('p',class_="Text__StyledText-sc-oo0kvp-0 hpXvds Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy"):
    discounts.append(i.text)

In [29]:
discount_rate=[]

for i in soup4.find_all('span',class_="Text__StyledText-sc-oo0kvp-0 lnonyH"):
    discount_rate.append(i.text)

In [30]:
pp=pd.DataFrame({"Product Name":name,"Actual Price":discounts,"Discount_rate":discount_rate,"After Discount Price":price})
pp

,Product Name,Actual Price,Discount_rate,After Discount Price
0,Classic Attractive Women Handbags,₹670,7% off,₹620
1,Ravishing Alluring Women Handbags,₹434,12% off,₹384
2,Graceful Fancy Women Handbags,₹578,9% off,₹528
3,Ravishing Classy Women Handbags,₹1000,5% off,₹950
4,Classic Versatile Women Handbags,₹1000,5% off,₹950
5,Voguish Fancy Women Handbags,₹1599,3% off,₹1549
6,Graceful Versatile Women Handbags,₹1000,5% off,₹950
7,Classic Stylish Women Handbags,₹3252,2% off,₹3202
8,Ravishing Fashionable Women Handbags,₹366,14% off,₹316
9,Elegant Classy Women Handbags,₹1000,5% off,₹950
10,Elegant Alluring Women Handbags,₹2387,2% off,₹2337
11,Graceful Attractive Women Handbags,₹600,8% off,₹550
12,Classic Alluring Women Handbags,₹568,9% off,₹518
13,Elegant Fashionable Women Handbags,₹775,6% off,₹725
14,Trendy Alluring Women Handbags,₹1370,4% off,₹1320
15,Trendy Alluring Women Handbags,₹1000,5% off,₹950
16,Trendy Stylish Women Handbags,₹873,6% off,₹823
17,Classic Fancy Women Handbags,₹696,7% off,₹646
18,Classic Versatile Women Handbags,₹600,8% off,₹550
19,Classic Fashionable Women Handbags,₹670,7% off,₹620

# 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
b) Top 10 ODI Batsmen along with the records of their team and rating.
c) Top 10 ODI bowlers along with the records of their team and rating

In [31]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [32]:
page5=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
page5

In [33]:
soup5=BeautifulSoup(page5.content)

In [34]:
team=[]

for i in soup5.find_all('span',class_="u-show-phablet"):
    team.append(i.text)
    
team

['NZ',
 'ENG',
 'AUS',
 'IND',
 'SA',
 'PAK',
 'BAN',
 'SL',
 'WI',
 'AFG',
 'IRE',
 'SCO',
 'ZIM',
 'NED',
 'UAE',
 'OMA',
 'NAM',
 'NEP',
 'USA',
 'PNG',
 '',
 '',
 '',
 '',
 '']

In [35]:
team1=team[0:10]
team1

['NZ', 'ENG', 'AUS', 'IND', 'SA', 'PAK', 'BAN', 'SL', 'WI', 'AFG']

In [36]:
matches=[]

for i in soup5.find_all('td',class_='table-body__cell u-center-text'):
    matches.append(i.text)

In [37]:
match=matches[::2]  #[start:stop:step]
match.insert(0,20)
match1=match[0:10]
match1

[20, '32', '31', '38', '31', '30', '36', '35', '36', '23']

In [38]:
points=matches[1::2]
points.insert(0,2448)
points1=points[0:10]
print(points1,end="")

[2448, '3,793', '3,475', '4,162', '3,167', '2,921', '3,350', '2,835', '2,788', '1,562']

In [39]:
ratings=[]

for i in soup5.find_all("td",class_="table-body__cell u-text-right rating"):
    ratings.append(i.text)
    
ratings.insert(0,122)
ratings1=ratings[0:10]
ratings1

[122, '119', '112', '110', '102', '97', '93', '81', '77', '68']

In [40]:
Icc_Mens_Odi=pd.DataFrame({"Team":team1,"Matches":match1,"Points":points1,"Rating":ratings1})
Icc_Mens_Odi

  Team Matches Points Rating
0   NZ      20   2448    122
1  ENG      32  3,793    119
2  AUS      31  3,475    112
3  IND      38  4,162    110
4   SA      31  3,167    102
5  PAK      30  2,921     97
6  BAN      36  3,350     93
7   SL      35  2,835     81
8   WI      36  2,788     77
9  AFG      23  1,562     68

Top 10 ODI Batsmen along with the records of their team and rating.

In [41]:
page5a=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")
page5a

In [42]:
soup5a=BeautifulSoup(page5a.content)

In [43]:
batsmen=[]

for i in soup5a.find_all('td',class_='table-body__cell rankings-table__name name'):
    batsmen.append(i.text)
batsmen.insert(0,"Babar Azam")# we inserted "Babar Azam" becouse when we was scriping the data the we was unable to scrape 1st 
batsmen1=batsmen[0:10]        # one. thats why we scraped all the data and inserted 1st one,so that our data can be completed.
batsmen1

['Babar Azam',
 '\nVirat Kohli\n',
 '\nImam-ul-Haq\n',
 '\nRohit Sharma\n',
 '\nQuinton de Kock\n',
 '\nJonny Bairstow\n',
 '\nRoss Taylor\n',
 '\nRassie van der Dussen\n',
 '\nDavid Warner\n',
 '\nAaron Finch\n']

In [44]:
teamb=[]

for i in soup5a.find_all('span',class_="table-body__logo-text"):
    teamb.append(i.text)
teamb.insert(0,"PAK")  
teamb1=teamb[0:10]
teamb1

['PAK', 'IND', 'PAK', 'IND', 'SA', 'ENG', 'NZ', 'SA', 'AUS', 'AUS']

In [45]:
ratingb=[]

for i in soup5a.find_all('td',class_="table-body__cell rating"):
    ratingb.append(i.text)
    
ratingb.insert(0,891)
ratingb1=ratingb[0:10]
ratingb1

[891, '811', '795', '791', '789', '775', '775', '769', '750', '745']

In [46]:
cbr=[]

for i in soup5a.find_all('td',class_="table-body__cell u-text-right u-hide-phablet"):
    cbr.append(i.text)
    
cbr.insert(0,"891 v Australia, 02/04/2022")
cbr1=cbr[0:10]

In [47]:
pp=pd.DataFrame({"Batsmen":batsmen1,"Team":teamb1,"Rating":ratingb1,"CAREER BEST RATING":cbr1})
pp.head(2)

,Batsmen,Team,Rating,CAREER BEST RATING
0,Babar Azam,PAK,891,"891 v Australia, 02/04/2022"
1,\nVirat Kohli\n,IND,811,\n 911 v Englan...

In [48]:
pp["Batsmen"]=[x.strip("\n") for x in pp["Batsmen"] ]
pp['CAREER BEST RATING']=[x.strip("\n") for x in pp['CAREER BEST RATING']]

In [49]:
mens_batting=pp
mens_batting

,Batsmen,Team,Rating,CAREER BEST RATING
0,Babar Azam,PAK,891,"891 v Australia, 02/04/2022"
1,Virat Kohli,IND,811,"911 v England,..."
2,Imam-ul-Haq,PAK,795,795 v Australi...
3,Rohit Sharma,IND,791,885 v Sri Lank...
4,Quinton de Kock,SA,789,813 v Sri Lank...
5,Jonny Bairstow,ENG,775,"796 v India, 2..."
6,Ross Taylor,NZ,775,841 v Banglade...
7,Rassie van der Dussen,SA,769,776 v Banglade...
8,David Warner,AUS,750,880 v Pakistan...
9,Aaron Finch,AUS,745,"798 v England,..."

Top 10 ODI bowlers along with the records of their team and rating

In [50]:
page5b=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")
page5b

In [51]:
soup5b=BeautifulSoup(page5b.content)

In [52]:
player=[]

for i in soup5b.find_all('td',class_="table-body__cell rankings-table__name name"):
    player.append(i.text)
player.insert(0,'Trent Boult')
player1=player[0:10]
print(player1,end="")

['Trent Boult', '\nChris Woakes\n', '\nJosh Hazlewood\n', '\nMatt Henry\n', '\nMujeeb Ur Rahman\n', '\nJasprit Bumrah\n', '\nShaheen Afridi\n', '\nMehedi Hasan\n', '\nShakib Al Hasan\n', '\nRashid Khan\n']

In [53]:
teamb=[]

for i in soup5b.find_all('span',class_='table-body__logo-text'):
    teamb.append(i.text)
    
teamb.insert(0,"NZ")
teamb1=teamb[0:10]
teamb1

['NZ', 'ENG', 'AUS', 'NZ', 'AFG', 'IND', 'PAK', 'BAN', 'BAN', 'AFG']

In [54]:
ratingb=[]

for i in soup5b.find_all('td',class_='table-body__cell rating'):
    ratingb.append(i.text)
    
ratingb.insert(0,726)
ratingb1=ratingb[0:10]
ratingb1

[726, '700', '698', '683', '681', '679', '671', '661', '657', '650']

In [55]:
hh=pd.DataFrame({"Name":player1,"Team":teamb1,"Rating":ratingb1})
hh.head(2)

               Name Team Rating
0       Trent Boult   NZ    726
1  \nChris Woakes\n  ENG    700

In [56]:
hh['Name']=[x.strip("\n") for x in hh['Name']]

In [57]:
Bowlers=hh
Bowlers

               Name Team Rating
0       Trent Boult   NZ    726
1      Chris Woakes  ENG    700
2    Josh Hazlewood  AUS    698
3        Matt Henry   NZ    683
4  Mujeeb Ur Rahman  AFG    681
5    Jasprit Bumrah  IND    679
6    Shaheen Afridi  PAK    671
7      Mehedi Hasan  BAN    661
8   Shakib Al Hasan  BAN    657
9       Rashid Khan  AFG    650

# 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
b) Top 10 women’s ODI Batting players along with the records of their team and rating.
c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [58]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [59]:
page6=requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
page6

In [60]:
soup6=BeautifulSoup(page6.content)

In [61]:
teamw=[]

for i in soup6.find_all('td',class_="table-body__cell rankings-table__team"):
    teamw.append(i.text)
teamw.insert(0,'Australia')
print(teamw,end='')

['Australia', '\n\nSouth Africa\nSA\n', '\n\nEngland\nENG\n', '\n\nIndia\nIND\n', '\n\nNew Zealand\nNZ\n', '\n\nWest Indies\nWI\n', '\n\nBangladesh\nBAN\n', '\n\nPakistan\nPAK\n', '\n\nIreland\nIRE\n', '\n\nSri Lanka\nSL\n', '\n\nZimbabwe\nZIM\n']

In [62]:
matchwo=[]

for i in soup6.find_all('td',class_="table-body__cell u-center-text"):
    matchwo.append(i.text)

In [63]:
matchww=matchwo[::2]
matchww.insert(0,29)
matchww

[29, '28', '30', '29', '31', '28', '12', '26', '5', '5', '8']

In [64]:
pointsww=matchwo[1::2]
pointsww.insert(0,4840)
print(pointsww,end="")

[4840, '3,504', '3,533', '2,878', '3,030', '2,481', '936', '1,752', '240', '233', '0']

In [65]:
ratingw=[]

for i in soup6.find_all('td',class_="table-body__cell u-text-right rating"):
    ratingw.append(i.text)
    
ratingw.insert(0,167)
ratingw

[167, '125', '118', '99', '98', '89', '78', '67', '48', '47', '0']

In [66]:
Woman_odi1=pd.DataFrame({'Team':teamw,"Matches":matchww,"Points":pointsww,"Ratings":ratingw})

In [67]:
Woman_odi1['Team']=[x.strip("\n") for x in Woman_odi1['Team']]
Woman_odi1

                Team Matches Points Ratings
0          Australia      29   4840     167
1   South Africa\nSA      28  3,504     125
2       England\nENG      30  3,533     118
3         India\nIND      29  2,878      99
4    New Zealand\nNZ      31  3,030      98
5    West Indies\nWI      28  2,481      89
6    Bangladesh\nBAN      12    936      78
7      Pakistan\nPAK      26  1,752      67
8       Ireland\nIRE       5    240      48
9      Sri Lanka\nSL       5    233      47
10     Zimbabwe\nZIM       8      0       0

b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [68]:
page6a=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")
page6a

In [69]:
soup6a=BeautifulSoup(page6a.content)

In [70]:
player=[]

for i in soup6a.find_all('td',class_='table-body__cell rankings-table__name name'):
    player.append(i.text)
    
player.insert(0,"Alyssa Healy")
playerw=player[0:10]
print(playerw,end="")

['Alyssa Healy', '\nNatalie Sciver\n', '\nBeth Mooney\n', '\nLaura Wolvaardt\n', '\nMeg Lanning\n', '\nRachael Haynes\n', '\nMithali Raj\n', '\nAmy Satterthwaite\n', '\nSmriti Mandhana\n', '\nTammy Beaumont\n']

In [71]:
team=[]

for i in soup6a.find_all("td",class_="table-body__cell nationality-logo rankings-table__team"):
    team.append(i.text)
    
team.insert(0,'AUS')
teamw=team[0:10]
print(teamw,end="")

['AUS', '\n\nENG\n', '\n\nAUS\n', '\n\nSA\n', '\n\nAUS\n', '\n\nAUS\n', '\n\nIND\n', '\n\nNZ\n', '\n\nIND\n', '\n\nENG\n']

In [72]:
rating=[]

for i in soup6a.find_all('td',class_="table-body__cell rating"):
    rating.append(i.text)
    
rating.insert(0,785)
ratingw=rating[0:10]
ratingw

[785, '750', '748', '722', '710', '701', '686', '681', '669', '659']

In [73]:
women_players=pd.DataFrame({"Name":playerw,"Team":teamw,"Rating":ratingw})

In [74]:
women_players['Name']=[x.strip("\n") for x in women_players['Name']]
women_players['Team']=[x.strip("\n") for x in women_players['Team']]

In [75]:
women_players

                Name Team Rating
0       Alyssa Healy  AUS    785
1     Natalie Sciver  ENG    750
2        Beth Mooney  AUS    748
3    Laura Wolvaardt   SA    722
4        Meg Lanning  AUS    710
5     Rachael Haynes  AUS    701
6        Mithali Raj  IND    686
7  Amy Satterthwaite   NZ    681
8    Smriti Mandhana  IND    669
9     Tammy Beaumont  ENG    659

c) Top 10 women’s ODI all-rounder along with the records of their team and rating

In [76]:
page6b=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")
page6b

In [77]:
soup6b=BeautifulSoup(page6b.content)

In [78]:
name=[]

for i in soup6b.find_all('td',class_="table-body__cell rankings-table__name name"):
    name.append(i.text)
    
name.insert(0,"Natalia Sciver")
namewo=name[0:10]
print(namewo,end="")

['Natalia Sciver', '\nEllyse Perry\n', '\nMarizanne Kapp\n', '\nHayley Matthews\n', '\nAmelia Kerr\n', '\nAshleigh Gardner\n', '\nDeepti Sharma\n', '\nJess Jonassen\n', '\nKatherine Brunt\n', '\nJhulan Goswami\n']

In [79]:
team=[]

for i in soup6b.find_all('span',class_="table-body__logo-text"):
    team.append(i.text)
    
team.insert(0,'ENG')
teamwo=team[0:10]
teamwo

['ENG', 'AUS', 'SA', 'WI', 'NZ', 'AUS', 'IND', 'AUS', 'ENG', 'IND']

In [80]:
rating=[]

for i in soup6b.find_all('td',class_="table-body__cell rating"):
    rating.append(i.text)
    
rating.insert(0,393)
ratingwo=rating[0:10]
ratingwo

[393, '374', '359', '338', '335', '269', '249', '245', '221', '217']

In [81]:
all_ro_wo=pd.DataFrame({'Name':namewo,'Team':teamwo,'Rating':ratingwo})

In [82]:
all_ro_wo['Name']=[x.strip("\n") for x in all_ro_wo["Name"]]

In [83]:
all_ro_wo

               Name Team Rating
0    Natalia Sciver  ENG    393
1      Ellyse Perry  AUS    374
2    Marizanne Kapp   SA    359
3   Hayley Matthews   WI    338
4       Amelia Kerr   NZ    335
5  Ashleigh Gardner  AUS    269
6     Deepti Sharma  IND    249
7     Jess Jonassen  AUS    245
8   Katherine Brunt  ENG    221
9    Jhulan Goswami  IND    217

# 7) Write a python program to scrape details of all the posts from coreyms.com. Scrape the heading, date, content and the code for the video from the link for the youtube video from the post.

In [84]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [85]:
page7=requests.get("https://coreyms.com/")
page7

In [86]:
soup7=BeautifulSoup(page7.content)

In [87]:
heading=[]

for i in soup7.find_all("a",class_='entry-title-link'):
    heading.append(i.text)
heading

['Python Tutorial: Zip Files – Creating and Extracting Zip Archives',
 'Python Data Science Tutorial: Analyzing the 2019 Stack Overflow Developer Survey',
 'Python Multiprocessing Tutorial: Run Code in Parallel Using the Multiprocessing Module',
 'Python Threading Tutorial: Run Code Concurrently Using the Threading Module',
 'Update (2019-09-03)',
 'Python Quick Tip: The Difference Between “==” and “is” (Equality vs Identity)',
 'Python Tutorial: Calling External Commands Using the Subprocess Module',
 'Visual Studio Code (Windows) – Setting up a Python Development Environment and Complete Overview',
 'Visual Studio Code (Mac) – Setting up a Python Development Environment and Complete Overview',
 'Clarifying the Issues with Mutable Default Arguments']

In [88]:
date=[]

for i in soup7.find_all('time',class_="entry-time"):
    date.append(i.text)
print(date,end="")

['November 19, 2019', 'October 17, 2019', 'September 21, 2019', 'September 12, 2019', 'September 3, 2019', 'August 6, 2019', 'July 24, 2019', 'May 1, 2019', 'May 1, 2019', 'April 24, 2019']

In [89]:
content=[]

for i in soup7.find_all('div',class_="entry-content"):
    content.append(i.text)

In [90]:
code=[]
link=[]

for i in soup7.find_all('div',class_="entry-content"):
    if i.find('span',class_="embed-youtube") !=None:
        code.append(i.find('span',class_="embed-youtube").find('iframe'))
        link.append(i.find('span',class_="embed-youtube").find('iframe')['src'])
else:
    code.append("NA")
    link.append('NA')

In [91]:
coreyms=pd.DataFrame({"Heading":heading,"Date":date,"Content":content,"Code":code,"Link":link})

In [92]:
coreyms['Content']=[x.strip("\n") for x in coreyms['Content']]

In [93]:
coreyms

,Heading,Date,Content,Code,Link
0,Python Tutorial: Zip Files – Creating and Extr...,"November 19, 2019","In this video, we will be learning how to crea...",[],https://www.youtube.com/embed/z0gguhEmWiY?vers...
1,Python Data Science Tutorial: Analyzing the 20...,"October 17, 2019","In this Python Programming video, we will be l...",[],https://www.youtube.com/embed/_P7X8tMplsw?vers...
2,Python Multiprocessing Tutorial: Run Code in P...,"September 21, 2019","In this Python Programming video, we will be l...",[],https://www.youtube.com/embed/fKl2JW_qrso?vers...
3,Python Threading Tutorial: Run Code Concurrent...,"September 12, 2019","In this Python Programming video, we will be l...",[],https://www.youtube.com/embed/IEEhzQoKtQU?vers...
4,Update (2019-09-03),"September 3, 2019",Hey everyone. I wanted to give you an update o...,[],https://www.youtube.com/embed/mO_dS3rXDIs?vers...
5,Python Quick Tip: The Difference Between “==” ...,"August 6, 2019","In this Python Programming Tutorial, we will b...",[],https://www.youtube.com/embed/2Fp1N6dof0Y?vers...
6,Python Tutorial: Calling External Commands Usi...,"July 24, 2019","In this Python Programming Tutorial, we will b...",[],https://www.youtube.com/embed/-nh9rCzPJ20?vers...
7,Visual Studio Code (Windows) – Setting up a Py...,"May 1, 2019","In this Python Programming Tutorial, we will b...",[],https://www.youtube.com/embed/06I63_p-2A4?vers...
8,Visual Studio Code (Mac) – Setting up a Python...,"May 1, 2019","In this Python Programming Tutorial, we will b...",[],https://www.youtube.com/embed/_JGmemuINww?vers...
9,Clarifying the Issues with Mutable Default Arg...,"April 24, 2019","In this Python Programming Tutorial, we will b...",NA,NA

In [94]:
coreyms['Code'][0]

<iframe allowfullscreen="true" class="youtube-player" height="360" sandbox="allow-scripts allow-same-origin allow-popups allow-presentation" src="https://www.youtube.com/embed/z0gguhEmWiY?version=3&amp;rel=1&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;fs=1&amp;hl=en-US&amp;autohide=2&amp;wmode=transparent" style="border:0;" width="640"></iframe>

# 8) Write a python program to scrape house details from mentioned URL. It should include house title, location,area, EMI and price from https://www.nobroker.in/ .Enter three localities which are Indira Nagar, Jayanagar, Rajaji Nagar.

In [95]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [98]:
# Here we are taking three URL, besouse we have to grape 3 localities data,
# when we are taking only one URL the page is showing us 3 localities data as well as other localities data,
# that why we are choosing this way for focusing only 3 localities.

In [99]:
page8=requests.get("https://www.nobroker.in/property/sale/bangalore/Indiranagar?searchParam=W3sibGF0IjoxMi45NzgzNjkyLCJsb24iOjc3LjY0MDgzNTYsInBsYWNlSWQiOiJDaElKa1FOM0dLUVdyanNSTmhCUUpyaEdEN1UiLCJwbGFjZU5hbWUiOiJJbmRpcmFuYWdhciJ9XQ==&radius=2.0&city=bangalore&locality=Indiranagar&propType=IH")
page8A=requests.get("https://www.nobroker.in/property/sale/bangalore/Jayanagar?searchParam=W3sibGF0IjoxMi45MzA3NzM1LCJsb24iOjc3LjU4MzgzMDIsInBsYWNlSWQiOiJDaElKMmRkbFo1Z1ZyanNSaDFCT0FhZi1vcnMiLCJwbGFjZU5hbWUiOiJKYXlhbmFnYXIifV0=&radius=2.0&city=bangalore&locality=Jayanagar&propType=IH")
page8B=requests.get("https://www.nobroker.in/property/sale/bangalore/Rajajinagar?searchParam=W3sibGF0IjoxMi45OTgxNzMyLCJsb24iOjc3LjU1MzA0NDU5OTk5OTk5LCJwbGFjZUlkIjoiQ2hJSnhmVzREUE05cmpzUktzTlRHLTVwX1FRIiwicGxhY2VOYW1lIjoiUmFqYWppbmFnYXIiLCJzaG93TWFwIjpmYWxzZX1d&radius=2.0&city=bangalore&locality=Rajajinagar&propType=IH")
print(page8)
print(page8A)
print(page8B)

<Response [200]>
<Response [200]>
<Response [200]>

In [100]:
soup8=BeautifulSoup(page8.content)
soup8A=BeautifulSoup(page8A.content)
soup8B=BeautifulSoup(page8B.content)

In [101]:
Inht=[]
Jnht=[]
Rnht=[]
for i in soup8.find_all("span",class_="overflow-hidden overflow-ellipsis whitespace-nowrap max-w-80pe po:max-w-full"):
    Inht.append(i.text)
for i in soup8A.find_all("span",class_="overflow-hidden overflow-ellipsis whitespace-nowrap max-w-80pe po:max-w-full"):
    Jnht.append(i.text)    
for i in soup8B.find_all("span",class_="overflow-hidden overflow-ellipsis whitespace-nowrap max-w-80pe po:max-w-full"):
    Rnht.append(i.text)

In [102]:
Inarea=[]
Jnarea=[]
Rnarea=[]

for i in soup8.find_all('div',class_="mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0 po:max-w-95"):
    Inarea.append(i.text)
for i in soup8A.find_all('span',class_='overflow-hidden overflow-ellipsis whitespace-nowrap max-w-80pe po:max-w-full'):
    Jnarea.append(i.text)
for i in soup8B.find_all('div',class_="mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0 po:max-w-95"):
    Rnarea.append(i.text)

In [103]:
Inemi=[]
Jnemi=[]
Rnemi=[]

for i in soup8.find_all('div',class_="font-semi-bold heading-6"):
    Inemi.append(i.text)
for i in soup8A.find_all('div',class_="font-semi-bold heading-6"):
     Jnemi.append(i.text)
for i in soup8B.find_all('div',class_="font-semi-bold heading-6"):
     Rnemi.append(i.text)

In [104]:
housetle=Inht+Jnht+Rnht
area=Inarea+Jnarea+Rnarea
emi1=Inemi[1::3]
emi2=Jnemi[1::3]
emi3=Rnemi[1::3]
emi=emi1+emi2+emi3

price1=Inemi[2::3]
price2=Jnemi[2::3]
price3=Rnemi[2::3]
price=price1+price2+price3

In [105]:
Location=[]

for i in range(0,72):
    Location.append('Bangalore_Karnataka')

In [106]:
Nobroker=pd.DataFrame({'House_Title':housetle,"Location":Location,'Area':area,'Emi':emi,'Price':price})
Nobroker

,House_Title,Location,Area,Emi,Price
0,4 BHK In Independent House For Sale In Indir...,Bangalore_Karnataka,"Independent House, 2nd stage ,9th cross",₹1.69 Lacs/Month,₹2.95 Crores
1,4+ BHK In Independent House For Sale In Laks...,Bangalore_Karnataka,"Independent House, CMH Rd , Near B P Bakery","₹63,045/Month",₹1.1 Crores
2,4+ BHK In Independent House For Sale In Indi...,Bangalore_Karnataka,"Independent House, 8th cross, Near kaveri sc...",₹2.06 Lacs/Month,₹3.6 Crores
3,4 BHK In Independent House For Sale In Indir...,Bangalore_Karnataka,"Independent House, Binnamangala, near to Chai...",₹4.13 Lacs/Month,₹7.2 Crores
4,4+ BHK In Independent House For Sale In Indi...,Bangalore_Karnataka,"17C Cross, Indiranagar Stage 2,Bangalore 56003...",₹2.46 Lacs/Month,₹4.3 Crores
...,...,...,...,...,...
67,4 BHK In Independent House For Sale In Rajaj...,Bangalore_Karnataka,"Independent House, Bandireddy Circle Lakshmina...",₹1.58 Lacs/Month,₹2.75 Crores
68,3 BHK In Independent House For Sale In Ramch...,Bangalore_Karnataka,"Independent House, 9th Main Rd Dayananda Nagar...","₹43,559/Month",₹76 Lacs
69,1 RK In Independent House For Sale In Basave...,Bangalore_Karnataka,"Independent House, Modi hospital Junction Dr M...","₹45,851/Month",₹80 Lacs
70,2 BHK In Independent House For Sale In Rajaj...,Bangalore_Karnataka,"Independent House, 80 Feet Rd, 6th Block Near ...","₹48,717/Month",₹85 Lacs
71,4+ BHK In Independent House For Sale In Bas...,Bangalore_Karnataka,"Independent House, 1st Stage, 2nd Phase Chord ...",₹1.13 Lacs/Month,₹1.97 Crores

# 9) Write a python program to scrape mentioned details from dineout.co.in :
i) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL

In [107]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [108]:
page9=requests.get("https://www.dineout.co.in/delhi-restaurants/welcome-back")
page9

In [109]:
soup9=BeautifulSoup(page9.content)

In [110]:
name=[]

for i in soup9.find_all('a',class_="restnt-name ellipsis"):
    name.append(i.text)
print(name,end="")

['Tamasha', 'Local', 'Unplugged Courtyard', 'The G.T. ROAD', 'Ministry Of Beer', 'Connaught Clubhouse Microbrewery', "Chili's American Grill and Bar", 'Warehouse Cafe', 'The Junkyard Cafe', 'QBA', 'Openhouse Cafe', 'Lord of the Drinks', 'High 5 - Everyday Wholesale Bar', "Berco's", 'Sandoz', 'Farzi Cafe', 'The Imperial Spice', '38 Barracks', 'Chido', 'My Bar Square', 'Ardor 2.1 Restaurant and Lounge']

In [111]:
loc=[]

for i in soup9.find_all('div',class_="restnt-loc ellipsis"):
    loc.append(i.text)

In [112]:
cu=[]

for i in soup9.find_all('span',class_="double-line-ellipsis"):
    cu.append(i.text)
cu

['₹ 2,000 for 2 (approx) | Continental, Asian, Italian, North Indian',
 '₹ 2,000 for 2 (approx) | North Indian, Asian, Continental',
 '₹ 3,300 for 2 (approx) | North Indian, Italian, Chinese, Turkish, Continental',
 '₹ 1,400 for 2 (approx) | North Indian',
 '₹ 3,000 for 2 (approx) | North Indian, Continental, American, Asian',
 '₹ 1,600 for 2 (approx) | North Indian, Italian, Asian, European',
 '₹ 2,000 for 2 (approx) | Mexican, American, Tex Mex',
 '₹ 2,500 for 2 (approx) | North Indian, Chinese, Italian',
 '₹ 2,100 for 2 (approx) | North Indian, Continental, Chinese, Fast Food',
 '₹ 2,100 for 2 (approx) | North Indian, Continental, Italian',
 '₹ 2,000 for 2 (approx) | North Indian, Asian, Italian',
 '₹ 2,500 for 2 (approx) | Chinese, North Indian, Fast Food',
 '₹ 1,700 for 2 (approx) | North Indian, Continental, Chinese',
 '₹ 1,300 for 2 (approx) | Chinese',
 '₹ 1,400 for 2 (approx) | North Indian, Chinese, Continental',
 '₹ 2,000 for 2 (approx) | Modern Indian, Continental, Finger Food',
 '₹ 3,000 for 2 (approx) | North Indian, Continental, Mughlai',
 '₹ 2,700 for 2 (approx) | North Indian, Chinese, Continental',
 '₹ 1,800 for 2 (approx) | North Indian, Italian, Continental, Asian, Finger Food',
 '₹ 2,000 for 2 (approx) | Finger Food, Chinese, Continental, Italian',
 '₹ 2,000 for 2 (approx) | North Indian, Chinese, Italian, Continental']

In [113]:
n=0   # for removing price besouse question is demanding only cuisine.
for i in cu:
    cu[n]=cu[n][25:]
    n=n+1
cu

['Continental, Asian, Italian, North Indian',
 'North Indian, Asian, Continental',
 'North Indian, Italian, Chinese, Turkish, Continental',
 'North Indian',
 'North Indian, Continental, American, Asian',
 'North Indian, Italian, Asian, European',
 'Mexican, American, Tex Mex',
 'North Indian, Chinese, Italian',
 'North Indian, Continental, Chinese, Fast Food',
 'North Indian, Continental, Italian',
 'North Indian, Asian, Italian',
 'Chinese, North Indian, Fast Food',
 'North Indian, Continental, Chinese',
 'Chinese',
 'North Indian, Chinese, Continental',
 'Modern Indian, Continental, Finger Food',
 'North Indian, Continental, Mughlai',
 'North Indian, Chinese, Continental',
 'North Indian, Italian, Continental, Asian, Finger Food',
 'Finger Food, Chinese, Continental, Italian',
 'North Indian, Chinese, Italian, Continental']

In [114]:
rating=[]

for i in soup9.find_all('div',class_='restnt-rating rating-4'):
    rating.append(i.text)
    
print(rating,end="")

['4.2', '4', '4', '4.3', '4', '4.2', '4.3', '4.1', '4.1', '4.3', '4.1', '4.2', '3.9', '4.3', '4', '4.1', '4.4', '4.3', '4.2', '3.8', '3.8']

In [115]:
images=[]
for i in soup9.find_all("img",class_="no-img"):
    images.append(i['data-src'])

In [116]:
dineout1=pd.DataFrame({"Restaurant_name":name,"Cuisine":cu,"Location":loc,"Rating":rating,"Image_URL":images})
dineout1

,Restaurant_name,Cuisine,Location,Rating,Image_URL
0,Tamasha,"Continental, Asian, Italian, North Indian","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
1,Local,"North Indian, Asian, Continental","Scindia House,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
2,Unplugged Courtyard,"North Indian, Italian, Chinese, Turkish, Conti...","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
3,The G.T. ROAD,North Indian,"M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,Ministry Of Beer,"North Indian, Continental, American, Asian","M-Block,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
5,Connaught Clubhouse Microbrewery,"North Indian, Italian, Asian, European","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
6,Chili's American Grill and Bar,"Mexican, American, Tex Mex","M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
7,Warehouse Cafe,"North Indian, Chinese, Italian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
8,The Junkyard Cafe,"North Indian, Continental, Chinese, Fast Food","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
9,QBA,"North Indian, Continental, Italian","Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,Openhouse Cafe,"North Indian, Asian, Italian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
11,Lord of the Drinks,"Chinese, North Indian, Fast Food","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
12,High 5 - Everyday Wholesale Bar,"North Indian, Continental, Chinese","Connaught Place, Central Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
13,Berco's,Chinese,"Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
14,Sandoz,"North Indian, Chinese, Continental","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
15,Farzi Cafe,"Modern Indian, Continental, Finger Food","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
16,The Imperial Spice,"North Indian, Continental, Mughlai","M-Block,Connaught Place, Central Delhi",4.4,https://im1.dineout.co.in/images/uploads/resta...
17,38 Barracks,"North Indian, Chinese, Continental","M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
18,Chido,"North Indian, Italian, Continental, Asian, Fin...","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
19,My Bar Square,"Finger Food, Chinese, Continental, Italian","Connaught Place, Central Delhi",3.8,https://im1.dineout.co.in/images/uploads/resta...
20,Ardor 2.1 Restaurant and Lounge,"North Indian, Chinese, Italian, Continental","Connaught Place, Central Delhi",3.8,https://im1.dineout.co.in/images/uploads/resta...

# 10) Write a python program to scrape first 10 product details which include product name , price , Image URL from https://www.bewakoof.com/women-tshirts?ga_q=tshirts.

In [117]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [118]:
page10=requests.get("https://www.bewakoof.com/women-clothing/category-t-shirt?sort=new")
page10

In [119]:
soup10=BeautifulSoup(page10.content)

In [120]:
name=[]

for i in soup10.find_all('div',class_="productCardDetail"):
    name.append(i.text)
name

["Women's Black Kolkata City Map Typography Boyfriend T-shirt₹ 599799₹549For TriBe Members ",
 "Women's Black Mumbai City Typography Boyfriend T-shirt₹ 599799₹549For TriBe Members ",
 "Women's Black Delhi City Boyfriend Typography T-shirt₹ 599799₹549For TriBe Members ",
 "Women's Black Bangalore City Boyfriend Typography T-shirt₹ 599799₹549For TriBe Members ",
 "Women's Black Khaint Jatti Boyfriend Typography T-shirt₹ 599799₹549For TriBe Members ",
 "Women's White Balamciaga Boyfriend Graphic Print T-shirt₹ 599799₹549For TriBe Members ",
 "Women's Black Balamciaga Boyfriend Graphic Print T-shirt₹ 599799₹549For TriBe Members ",
 "Women's Black Chandigarh Boyfriend Typography T-shirt₹ 599799₹549For TriBe Members ",
 "Women's White Slay Oversized Graphic Print T-shirt₹ 6991249₹639For TriBe Members ",
 "Women's Purple Lounge T-shirt₹ 449699₹409For TriBe Members "]

In [121]:
price=[]

for i in soup10.find_all('span',class_="discountedPriceText"):
    price.append(i.text)
    
print(price,end="")

['₹ 599', '₹ 599', '₹ 599', '₹ 599', '₹ 599', '₹ 599', '₹ 599', '₹ 599', '₹ 699', '₹ 449']

In [122]:
image=[]

for i in soup10.find_all('img',class_="productImgTag"):
    image.append(i['src'])
    
image

['https://images.bewakoof.com/t320/women-s-black-kolkata-city-map-boyfriend-t-shirt-472414-1650459068-1.jpg',
 'https://images.bewakoof.com/t320/women-s-black-mumbai-city-boyfriend-t-shirt-472415-1650459117-1.jpg',
 'https://images.bewakoof.com/t320/women-s-black-delhi-city-boyfriend-t-shirt-472406-1650458945-1.jpg',
 'https://images.bewakoof.com/t320/women-s-black-bangalore-city-boyfriend-t-shirt-472409-1650459019-1.jpg',
 'https://images.bewakoof.com/t320/women-s-black-khaint-jatti-boyfriend-t-shirt-472407-1650458994-1.jpg',
 'https://images.bewakoof.com/t320/women-s-white-balamciaga-boyfriend-t-shirt-472422-1650458823-1.jpg',
 'https://images.bewakoof.com/t320/women-s-black-balamciaga-boyfriend-t-shirt-472405-1650459044-1.jpg',
 'https://images.bewakoof.com/t320/women-s-black-chandigarh-boyfriend-t-shirt-472408-1650459092-1.jpg',
 'https://images.bewakoof.com/t320/women-s-white-slay-1-1-oversized-t-shirt-472538-1650458897-1.jpg',
 'https://images.bewakoof.com/t320/lavender-solid-round-neck-lounge-t-shirt-420829-1639646081-1.jpg']

In [123]:
bewakoof=pd.DataFrame({"Product_name":name,"price":price,"Image_url":image})
bewakoof

,Product_name,price,Image_url
0,Women's Black Kolkata City Map Typography Boyf...,₹ 599,https://images.bewakoof.com/t320/women-s-black...
1,Women's Black Mumbai City Typography Boyfriend...,₹ 599,https://images.bewakoof.com/t320/women-s-black...
2,Women's Black Delhi City Boyfriend Typography ...,₹ 599,https://images.bewakoof.com/t320/women-s-black...
3,Women's Black Bangalore City Boyfriend Typogra...,₹ 599,https://images.bewakoof.com/t320/women-s-black...
4,Women's Black Khaint Jatti Boyfriend Typograph...,₹ 599,https://images.bewakoof.com/t320/women-s-black...
5,Women's White Balamciaga Boyfriend Graphic Pri...,₹ 599,https://images.bewakoof.com/t320/women-s-white...
6,Women's Black Balamciaga Boyfriend Graphic Pri...,₹ 599,https://images.bewakoof.com/t320/women-s-black...
7,Women's Black Chandigarh Boyfriend Typography ...,₹ 599,https://images.bewakoof.com/t320/women-s-black...
8,Women's White Slay Oversized Graphic Print T-s...,₹ 699,https://images.bewakoof.com/t320/women-s-white...
9,Women's Purple Lounge T-shirt₹ 449699₹409For T...,₹ 449,https://images.bewakoof.com/t320/lavender-soli...

# 1) Write a python program to display all the header tags from wikipedia.org

In [124]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [125]:
page=requests.get("https://en.wikipedia.org/wiki/Main_Page")
page

In [126]:
soup=BeautifulSoup(page.content)

In [127]:
header=soup.find_all(['h1','h2','h3','h4','h5','h6'])
print("List of all the header tags :",*header,sep='\n\n')

List of all the header tags :

<h1 class="firstHeading mw-first-heading" id="firstHeading" style="display: none">Main Page</h1>

<h1><span class="mw-headline" id="Welcome_to_Wikipedia">Welcome to <a href="/wiki/Wikipedia" title="Wikipedia">Wikipedia</a></span></h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfl-h2"><span id="From_today.27s_featured_list"></span><span class="mw-headline" id="From_today's_featured_list">From today's featured list</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3>
<label for="searchInput">Search</label>
</h3>