# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [1]:
import selenium 
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time

In [2]:
driver=webdriver.Chrome(r"C:\Users\ABC\chromedriver.exe")

In [3]:
driver.get(" https://www.naukri.com/")

In [4]:
search_designation=driver.find_element_by_class_name("suggestor-input")
search_designation.send_keys('Data Analyst')

In [5]:
search_location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_location.send_keys("Bangalore")

In [6]:
search_button=driver.find_element_by_class_name("qsbSubmit")
search_button.click()

In [7]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [8]:
jt=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in jt:
    jt=i.text
    job_title.append(jt)

In [9]:
jl=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in jl:
    jl=i.text
    job_location.append(jl)

In [10]:
cn=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in cn:
    cn=i.text
    company_name.append(cn)

In [11]:
er=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
for i in er:
    er=i.text
    experience_required.append(er)

In [12]:
Data_Analyst=pd.DataFrame({"job_title":job_title,"company_name":company_name,"job_location":job_location,"experience_required":experience_required})

In [13]:
Data=Data_Analyst.iloc[0:10,:]
Data

,job_title,company_name,job_location,experience_required
0,Senior Business Analyst - Data Sciences and Ad...,Vmware,Bangalore/Bengaluru,3-7 Yrs
1,Sr Data Analyst II,IHS Markit,"Gurgaon/Gurugram, Bangalore/Bengaluru",3-6 Yrs
2,Business and Data Analyst,CAREERDOST ENTERPRISE,Bangalore/Bengaluru\n(WFH during Covid),0-5 Yrs
3,Senior Data Analyst,Capco,"Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben...",7-12 Yrs
4,Senior Data Analyst,Gsn Games India,Bangalore/Bengaluru,3-7 Yrs
5,Jr . Data Analyst,Armorblox,Bangalore/Bengaluru,0-2 Yrs
6,Data Analyst,G S E-COMMERCE PVT LTD,Bangalore/Bengaluru(Jayanagar),4-7 Yrs
7,SAS Analyst / data Analyst / Business analyst ...,Leading US MNC into analytics,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",2-7 Yrs
8,Data Analyst II,Cerner,Bangalore/Bengaluru,6-10 Yrs
9,Data Analyst - Python / SQL,Myntra,Bangalore/Bengaluru,1-4 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data. This task will be done in following steps:

In [14]:
import selenium 
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [15]:
driver2=webdriver.Chrome(r'C:\Users\ABC\chromedriver.exe')

In [16]:
driver2.get(" https://www.naukri.com/")

In [17]:
search_designation2=driver2.find_element_by_class_name('suggestor-input')
search_designation2.send_keys('Data Scientist')

In [18]:
search_location2=driver2.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_location2.send_keys('Bangalore')

In [19]:
search_button2=driver2.find_element_by_class_name('qsbSubmit')
search_button2.click()

In [20]:
Job_title=[]
Job_location=[]
Company_name=[]

In [21]:
jt2=driver2.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in jt2:
    jt2=i.text
    Job_title.append(jt2)

In [22]:
jl2=driver2.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in jl2:
    jl2=i.text
    Job_location.append(jl2)

In [23]:
cn2=driver2.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in cn2:
    cn2=i.text
    Company_name.append(cn2)

In [24]:
Data2=pd.DataFrame({"Job_title":Job_title,"Company_name":Company_name,'Job_location':Job_location})
Data2.iloc[0:10,:]

,Job_title,Company_name,Job_location
0,Data Scientist: Advanced Analytics,IBM,Bengaluru/Bangalore
1,Data Scientist: Artificial Intelligence,IBM,Bengaluru/Bangalore
2,Data Scientist: Artificial Intelligence,IBM,Bengaluru/Bangalore
3,Data Scientist: Artificial Intelligence,IBM,Bengaluru/Bangalore
4,Data Scientist: Artificial Intelligence,IBM,Bangalore/Bengaluru
5,Staff Data Scientist,Walmart,Bangalore/Bengaluru
6,Lead Data Scientist,TransOrg Solutions Services (P) Ltd.,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
7,Senior Data Scientist,Walmart,Bangalore/Bengaluru
8,Cognitive/AI Senior Data Scientist,IBM,Bangalore/Bengaluru
9,Lead - Data Scientist,Applied Materials,Bangalore/Bengaluru

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

In [38]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [39]:
driver3=webdriver.Chrome(r'C:\Users\ABC\chromedriver.exe')

In [40]:
driver3.get("https://www.naukri.com/")

In [41]:
search_designation3=driver3.find_element_by_class_name('suggestor-input')
search_designation3.send_keys('Data Scientist')

In [42]:
search_button3=driver3.find_element_by_class_name('qsbSubmit')
search_button3.click()

In [43]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [44]:
jt3=driver3.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in jt3:
    jt3=i.text
    job_title.append(jt3)  
JJJ=job_title[0:10]

In [45]:
jl3=driver3.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in jl3:
    jl3=i.text
    job_location.append(jl3)   
lll=job_location[0:10]

In [46]:
cn3=driver3.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in cn3:
    cn3=i.text
    Company_name.append(cn3)
ccc=Company_name[0:10]

In [47]:
er3=driver3.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
for i in er3:
    er3=i.text
    experience_required.append(er3)
eee=experience_required[0:10]

In [49]:
Data3=pd.DataFrame({"Job_title":JJJ,"Company_name":ccc,"Job_location":lll,"Experience_required":eee})
Data3

,Job_title,Company_name,Job_location,Experience_required
0,Data Scientist: Advanced Analytics,IBM,Bengaluru/Bangalore,5-7 Yrs
1,Data Scientist: Artificial Intelligence,IBM,Bengaluru/Bangalore,11-12 Yrs
2,Data Scientist: Artificial Intelligence,IBM,Bengaluru/Bangalore,11-12 Yrs
3,Data Scientist: Artificial Intelligence,IBM,Bengaluru/Bangalore,11-12 Yrs
4,Data Scientist: Artificial Intelligence,IBM,Bangalore/Bengaluru,6-11 Yrs
5,Staff Data Scientist,Walmart,Bangalore/Bengaluru,4-8 Yrs
6,Data Scientist,TransOrg Solutions Services (P) Ltd.,Bangalore/Bengaluru,0-3 Yrs
7,Data Scientist-Client Engineering,Walmart,Mumbai,5-10 Yrs
8,Senior Data Scientist,IBM,Bangalore/Bengaluru,5-10 Yrs
9,Data Scientist/ Analyst Specialist,Applied Materials,"Noida, New Delhi, Gurgaon/Gurugram, Delhi / NC...",1-4 Yrs

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape:
1. Brand
2. Product Description
3. Price

In [22]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import time

In [23]:
driver4=webdriver.Chrome(r"C:\Users\ABC\chromedriver.exe")

In [24]:
driver4.get("https://www.flipkart.com/")
time.sleep(2)

In [25]:
search_button_cross=driver4.find_element_by_xpath('/html/body/div[2]/div/div/button')
search_button_cross.click()

In [26]:
search_product=driver4.find_element_by_class_name("_3704LK")
search_product.send_keys('sunglasses')
time.sleep(2)

In [29]:
search_button=driver4.find_element_by_class_name("L0Z3Pu")
search_button.click()
time.sleep(4)

In [30]:
urls=[]
url_1=driver4.find_elements_by_xpath("//a[@class='ge-49M _2Kfbh8']")
for i in url_1:
    urls.append(i.get_attribute('href'))
    
url_2=driver4.find_elements_by_xpath("/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]")
for i in url_2:
    urls.append(i.get_attribute('href'))
    
url_3=driver4.find_elements_by_xpath("/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[3]")
for i in url_3:
    urls.append(i.get_attribute('href'))
time.sleep(4)

In [31]:
brand=[]
for i in urls:
    driver4.get(i)
    for k in driver4.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        brand.append(k.text)

In [32]:
Product_description=[]
for i in urls:
    driver4.get(i)
    for k in driver4.find_elements_by_xpath("//a[@class='IRpwTa']"):
        Product_description.append(k.text)

In [33]:
Pricee=[]
for i in urls:
    driver4.get(i)
    for k in driver4.find_elements_by_xpath("//div[@class='_30jeq3']"):
        Pricee.append(k.text)

In [34]:
Data4=pd.DataFrame({'Brand':brand,'Product_description':Product_description,'Price':Pricee})
Data4.head(100)

             Brand                                Product_description   Price
0     Singco India  Riding Glasses, UV Protection Clubmaster, Wayf...    ₹329
1   ROZZETTA CRAFT  UV Protection, Gradient Rectangular Sunglasses...    ₹449
2         Fastrack      UV Protection Wayfarer Sunglasses (Free Size)    ₹719
3         DAHAAZIL   UV Protection Rectangular Sunglasses (Free Size)    ₹639
4        Elligator                UV Protection Round Sunglasses (54)    ₹295
..             ...                                                ...     ...
95  ROZZETTA CRAFT  UV Protection Rectangular, Retro Square Sungla...    ₹474
96       Elligator                UV Protection Round Sunglasses (53)    ₹244
97        Fastrack          UV Protection Oval Sunglasses (Free Size)  ₹1,599
98        Fastrack      Polarized Retro Square Sunglasses (Free Size)    ₹575
99       ROYAL SON  UV Protection, Gradient Retro Square Sunglasse...    ₹450

[100 rows x 3 columns]

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
1. Rating
2. Review summary
3. Full review

In [90]:
import pandas as pd
import selenium 
from selenium import webdriver
import time
import warnings
warnings.filterwarnings('ignore')

In [91]:
driver=webdriver.Chrome(r"C:\Users\ABC\chromedriver.exe")

In [92]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')

In [93]:
search_review=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']")
search_review.click()

In [103]:
Rating=[]
Review=[]
Full_review=[]

In [95]:
urls=[]
url_1=driver.find_elements_by_xpath("//a[@class='ge-49M _2Kfbh8']")
for i in url_1:
    urls.append(i.get_attribute('href'))
url_2=driver.find_elements_by_xpath("//a[@class='ge-49M']")
for i in url_2:
    urls.append(i.get_attribute('href'))
time.sleep(4)

In [104]:
for i in urls:
    driver.get(i)
    for k in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        Rating.append(k.text)

In [105]:
for i in urls:
    driver.get(i)
    for k in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        Review.append(k.text)

In [106]:
for i in urls:
    driver.get(i)
    for k in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Full_review.append(k.text)

In [115]:
data=pd.DataFrame({'Rating':Rating,'Review':Review,'Full_review':Full_review})
data

,Rating,Review,Full_review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Fabulous!,Gift this to your loved ones fabulous product ...
96,5,Super!,This is my first ever iPhone.\nAnd I truly don...
97,5,Worth every penny,Undoubtedly Iphone 11 is the most successful m...
98,5,Fabulous!,I purchased the iPhone 11 a month back. I must...
99,5,Wonderful,Nice value for money good and best price I pho...

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field.
You have to scrape.
1. Brand
2. Product Description
3. Price

In [130]:
import pandas as pd
import selenium
import time
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

In [131]:
driver=webdriver.Chrome(r"C:\Users\ABC\chromedriver.exe")

In [132]:
driver.get('https://www.flipkart.com/')

In [133]:
cross_button=driver.find_element_by_xpath("/html/body/div[2]/div/div/button")
cross_button.click()

In [134]:
search=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search.send_keys("sneakers")

In [135]:
search_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_button.click()

In [136]:
brand=[]
Product_description=[]
price=[]

In [137]:
urls=[]
url_1=driver.find_elements_by_xpath("//a[@class='ge-49M _2Kfbh8']")
for i in url_1:
    urls.append(i.get_attribute('href'))
    
url_2=driver.find_elements_by_xpath("/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]")
for i in url_2:
    urls.append(i.get_attribute('href'))
    
url_3=driver.find_elements_by_xpath("/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[3]")
for i in url_3:
    urls.append(i.get_attribute('href'))
time.sleep(4)

In [138]:
for i in urls:
    driver.get(i)
    for k in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        brand.append(k.text)
time.sleep(4)

In [139]:
for i in urls:
    driver.get(i)
    for k in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        Product_description.append(k.text)
time.sleep(4)

In [140]:
for i in urls:
    driver.get(i)
    for k in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        price.append(k.text)
time.sleep(4)

In [141]:
disscount=[]
for i in urls:
    driver.get(i)
    for k in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
        disscount.append(k.text)

In [142]:
brand=brand[0:100]
price=price[0:100]
disscount=disscount[0:100]
Product_description=Product_description[0:100]

In [143]:
data=pd.DataFrame({'Brand':brand,"Product_description":Product_description,'Price':price,'Discount':disscount})
data

,Brand,Product_description,Price,Discount
0,Jumpink,Kwik FIT casual sneaker shoes and partywear sh...,₹399,60% off
1,KWIK FIT,STYLISH MENS BLACK SNEAKER Sneakers For Men,₹449,77% off
2,URBANBOX,Modern Trendy Sneakers Shoes Sneakers For Men,₹178,82% off
3,corsac,Kwik FIT casual sneaker shoes and partywear sh...,₹499,66% off
4,BRUTON,Sneakers For Men,₹295,77% off
...,...,...,...,...
95,andD,Combo Pack of 3 Casual Shoes Sneakers For Men,₹249,55% off
96,SPADE CLUB,Sneakers For Men,₹449,32% off
97,DUCATI,Combo Pack of 2 Casual Shoes For Men Sneakers ...,₹674,56% off
98,CLYMB,"Casual Shoes , Snekers Shoes,Lace-Up PVC Shoes...",₹649,46% off
99,Lee Won,Sneakers For Men,₹499,57% off

# Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.

In [156]:
import pandas as pd
import selenium 
import time
from selenium import webdriver
import warnings 
warnings.filterwarnings('ignore')

In [157]:
driver=webdriver.Chrome(r"C:\Users\ABC\chromedriver.exe")
time.sleep(2)

In [158]:
driver.get("https://www.myntra.com/shoes")
time.sleep(3)

In [159]:
search_price=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
search_price.click()

In [160]:
search_colour=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
search_colour.click()

In [161]:
urls=[]
url_1=driver.find_elements_by_xpath("//li[@class='pagination-active']")
for i in url_1:
    urls.append(i.get_attribute("href"))
    
url_2=driver.find_elements_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[3]")
for i in url_2:
    urls.append(i.get_attribute("href"))
time.sleep(4)

In [162]:
Brand=[]
for i in urls:
    brand=driver.find_elements_by_xpath("//h3[@class='product-brand']")
    for x in brand:
        brand=x.text
        Brand.append(brand)  
time.sleep(4)

In [163]:
Bd=[]
for i in urls:
    bd=driver.find_elements_by_xpath("//h4[@class='product-product']")
    for x in bd:
        bd=x.text
        Bd.append(bd)
time.sleep(4)

In [164]:
Price=[]
for i in urls:
    pr=driver.find_elements_by_xpath("//div[@class='product-price']")
    for x in pr:
        pr=x.text
        Price.append(pr)
time.sleep(4)

In [166]:
data=pd.DataFrame({"Brand_name":Brand,"Shoe_description":Bd,"Price":Price})
data

,Brand_name,Shoe_description,Price
0,ALDO,Men Woven Design Sneakers,Rs. 13999
1,ALDO,Men Leather Driving Shoes,Rs. 12999
2,UNDER ARMOUR,Men Vantage 2 Running Shoes,Rs. 7999
3,ALDO,Men Leather Loafers,Rs. 12999
4,Skechers,Men Max Cushioning Running,Rs. 7649Rs. 8999(15% OFF)
...,...,...,...
95,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8499Rs. 9999(15% OFF)
96,Puma,Electrify Nitro Running Shoes,Rs. 9999
97,Louis Philippe,Men Solid Leather Formal Loafers,Rs. 9999
98,ROSSO BRUNELLO,Men Leather Loafers,Rs. 9999
99,Geox,Men Textured Leather Driving Shoes,Rs. 10990

# 8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

In [167]:
import pandas as pd
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time

In [168]:
driver8=webdriver.Chrome(r"C:\Users\ABC\chromedriver.exe")

In [169]:
driver8.get("https://www.amazon.in/")
time.sleep(4)

In [170]:
search_name=driver8.find_element_by_xpath("/html/body/div[1]/header/div/div[5]/div[1]")
search_name.click()
time.sleep(3)

In [171]:
search_name1=driver8.find_element_by_xpath("/html/body/div[3]/div[2]/div/ul[1]/li[15]/a")
search_name1.click()
time.sleep(3)

In [174]:
search_name2=driver8.find_element_by_xpath("/html/body/div[3]/div[2]/div/ul[8]/li[17]/a")
search_name2.click()
time.sleep(3)

In [175]:
search_i7=driver8.find_element_by_xpath("/html/body/div[1]/div[2]/div[2]/div[2]/div/div/div[8]/ul/li[2]/span/a/div/label/i")
search_i7.click()

In [177]:
search_i9=driver8.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[4]/li[14]/span/a/div/label/i")
search_i9.click()

In [178]:
t1=[]
p1=[]

In [179]:
tt=driver8.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-4']")
for i in tt:
    tt=i.text
    t1.append(tt)

In [180]:
pr=driver8.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in pr:
    pr=i.text
    p1.append(pr)

In [181]:
data=pd.DataFrame({'Title':t1,'Price':p1})
data.head(10)

                                               Title     Price
0  LG Gram 14 inches Ultra-Light Intel Evo 11th G...    88,499
1  MSI Modern 14, Intel i7-1195G7, 14" FHD IPS-Le...    76,490
2  LG Gram Intel Evo 11th Gen Core i7 17 inches U...    93,999
3  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...    57,490
4  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...    89,990
5  HP Pavilion 14, 11th Gen Intel Core i7-16GB RA...    86,990
6  Samsung Galaxy Book2 Intel 12th Gen core i7 Ev...    79,990
7  LG Gram Intel Evo 11th Gen Core i7 17 inches U...    93,999
8  LG Gram 16 inches Intel Evo 11th Gen Core i7 U...  1,01,112
9  Mi Notebook Ultra 3.2K Resolution Display Inte...    77,990

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:

In [182]:
import pandas as pd
import selenium
from selenium import webdriver
import time
import warnings
warnings.filterwarnings('ignore')

In [183]:
driver=webdriver.Chrome(r"C:\Users\ABC\chromedriver.exe")

In [184]:
driver.get("https://www.ambitionbox.com/")

In [185]:
search_job=driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[6]")
search_job.click()

In [186]:
search_designation=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
search_designation.send_keys('Data Scientist')

In [187]:
search_button=driver.find_element_by_xpath("//button[@class='ab_btn search-btn round']")
search_button.click()

In [189]:
search_loc=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/i")
search_loc.click()

In [190]:
search_cityloc=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
search_cityloc.send_keys('Noida')

In [191]:
search_finalcityloc=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label")
search_finalcityloc.click()

In [200]:
company=[]
company_name=driver.find_elements_by_xpath("//p[@class='company body-medium']")
for i in company_name :
    company_name=i.text
    company.append(company_name)

In [245]:
ddays_ago=[]
days=driver.find_elements_by_xpath("//span[@class='body-small-l']")
for i in days :
    days=i.text
    ddays_ago.append(days)

In [203]:
rating1=[]
rating=driver.find_elements_by_xpath("//span[@class='body-small']")
for i in rating:
    rating=i.text
    rating1.append(rating)

In [307]:
# ddays_ago[0::2]

In [264]:
data=pd.DataFrame({"Company":company,"Days_ago":ddays_ago[0::2],"Rating":rating1})
data

                                            Company  Days_ago Rating
0                     GENPACT India Private Limited   13d ago    4.0
1                  EXL Services.com ( I ) Pvt. Ltd.    6d ago    3.9
2                     GENPACT India Private Limited   18d ago    4.0
3  TECHNIP GLOBAL BUSINESS SERVICES PRIVATE LIMITED    4d ago    3.9
4                                 Tech Mahindra Ltd  1mon ago    3.7
5                     GENPACT India Private Limited  1mon ago    4.0
6                         Bristlecone India Limited   13d ago    3.8
7                                             Zyoin   17d ago    4.1
8                Ashkom Media India Private Limited    4d ago    3.7
9                 Newgen Software Technologies Ltd.   19d ago    3.5

# Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary

In [284]:
import pandas as pd
import selenium
from selenium import webdriver
import time
import warnings
warnings.filterwarnings("ignore")

In [285]:
driver=webdriver.Chrome(r"C:\Users\ABC\chromedriver.exe")

In [286]:
driver.get("https://www.ambitionbox.com/")

In [287]:
search_salaries=driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[4]")
search_salaries.click()

In [288]:
search_job=driver.find_element_by_xpath("/html/body/div/div/div/main/section[3]/div[2]/a[2]")
search_job.click()

In [289]:
search_cl=driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[2]/div/div[1]")
search_cl.click()

In [290]:
Company=[]
Company_name=driver.find_elements_by_xpath("//div[@class='name']")
for i in Company_name:
    Company_name=i.text
    Company.append(Company_name)

In [291]:
Min_Max_salary=[]
maxs=driver.find_elements_by_xpath("//div[@class='salary-values']")
for i in maxs:
    maxs=i.text
    Min_Max_salary.append(maxs)

In [292]:
Avg_salary=[]
avg=driver.find_elements_by_xpath("//p[@class='averageCtc']")
for i in avg:
    avg=i.text
    Avg_salary.append(avg)

In [293]:
Experience_required=[]
er=driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")
for i in er:
    er=i.text
    Experience_required.append(er)

In [295]:
Min_salary=[]
for i in Min_Max_salary:
    Min_salary.append(i[0:7])

In [296]:
Max_salary=[]
for i in Min_Max_salary:
    Max_salary.append(i[7:])

In [298]:
Designation=[]
for i in Experience_required:
    Designation.append(i[0:14])

In [299]:
Experience_Required=[]
for i in Experience_required:
    Experience_Required.append(i[19:])

In [306]:
Data10=pd.DataFrame({'Company':company,"Designation":Designation,'Experience_Required':Experience_Required,"Min_salary":Min_salary,'Avg_salary':Avg_salary,"Max_salary":Max_salary})

In [304]:
Data10['Min_salary']=[x.strip("\n") for x in Data10['Min_salary']]
Data10['Max_salary']=[x.strip("\n") for x in Data10['Max_salary']]

In [305]:
Data10

,Company,Designation,Experience_Required,Min_salary,Avg_salary,Max_salary
0,GENPACT India Private Limited,Data Scientist,3 yrs exp,₹ 25.0L,₹ 29.7L,₹ 35.0L
1,EXL Services.com ( I ) Pvt. Ltd.,Data Scientist,3-4 yrs exp,₹ 15.0L,₹ 20.5L,₹ 25.5L
2,GENPACT India Private Limited,Data Scientist,4 yrs exp,₹ 5.6L,₹ 18.9L,₹ 26.2L
3,TECHNIP GLOBAL BUSINESS SERVICES PRIVATE LIMITED,Data Scientist,2 yrs exp,₹ 9.8L,₹ 15.9L,₹ 20.0L
4,Tech Mahindra Ltd,Data Scientist,3-4 yrs exp,₹ 11.0L,₹ 15.2L,₹ 22.0L
5,GENPACT India Private Limited,Data Scientist,2-4 yrs exp,₹ 9.5L,₹ 15.2L,₹ 22.0L
6,Bristlecone India Limited,Data Scientist,2-4 yrs exp,₹ 9.0L,₹ 14.8L,₹ 20.0L
7,Zyoin,Data Scientist,2-4 yrs exp,₹ 8.3L,₹ 14.0L,₹ 20.5L
8,Ashkom Media India Private Limited,Data Scientist,4 yrs exp,₹ 10.0L,₹ 12.7L,₹ 21.0L
9,Newgen Software Technologies Ltd.,Data Scientist,4 yrs exp,₹ 8.5L,₹ 12.4L,₹ 15.0L