## 1. Scrape the details of most viewed videos on YouTube from Wikipedia.

Solution- This question I have done at the very end(after completion of the 10th question)

### 2. Scrape the details team Indiaâ€™s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.

You need to find following details:

A) Match title (I.e. 1st ODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code

In [1]:
import pandas as pd
import selenium 
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

In [75]:
driver=webdriver.Chrome(r"D:\chromedriver.exe")

In [76]:
driver.get('https://www.bcci.tv/.')

In [77]:
search_click=driver.find_element_by_xpath('/html/body/nav/div[1]/button/span[1]')
search_click.click()

In [78]:
search_click2=driver.find_element_by_xpath("/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a")
search_click2.click()

In [84]:
Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]

In [85]:
ma=driver.find_elements_by_xpath("//span[@class='ng-binding']")
for i in ma:
    ma=i.text
    Match_title.append(ma)

In [87]:
se=driver.find_elements_by_xpath("//span[@class='matchOrderText ng-binding ng-scope']")
for i in se:
    se=i.text
    Series.append(se)

In [93]:
Pl=driver.find_elements_by_xpath("//span[@class='ng-binding ng-scope']")
for i in Pl:
    Pl=i.text
    Place.append(Pl)

In [99]:
Da=driver.find_elements_by_xpath("//div[@class='match-card-left match-schedule']")
for i in Da:
    Da=i.text
    Date.append(Da)

In [103]:
ta=driver.find_elements_by_xpath("//div[@class='match-card-right match-schedule ']")
for i in ta:
    ta=i.text
    Time.append(ta)

In [105]:
Final=pd.DataFrame({'Match title':Match_title,'Series':Series,'Place':Place,'Date':Date,'Time':Time})

In [106]:
Final

,Match title,Series,Place,Date,Time
0,INDIA WOMEN TOUR OF SRI LANKA T20 SERIES 2022,1st T20I -,"Rangiri Dambulla International Stadium,",23 JUN 2022,2:30 PM IST
1,INDIA WOMEN TOUR OF SRI LANKA T20 SERIES 2022,2nd T20I -,"Rangiri Dambulla International Stadium,",25 JUN 2022,2:30 PM IST
2,INDIA TOUR OF IRELAND T20 SERIES 2022,1st T20I -,"The Village,",26 JUN 2022,9:00 PM IST
3,INDIA WOMEN TOUR OF SRI LANKA T20 SERIES 2022,3rd T20I -,"Rangiri Dambulla International Stadium,",27 JUN 2022,2:30 PM IST
4,INDIA TOUR OF IRELAND T20 SERIES 2022,2nd T20I -,"The Village,",28 JUN 2022,9:00 PM IST
5,INDIA WOMEN TOUR OF SRI LANKA ODI SERIES 2022,1st ODI -,"Pallekele International Cricket Stadium,",1 JUL 2022,10:00 AM IST
6,INDIA TOUR OF ENGLAND TEST SERIES 2021,5th Test -,"Edgbaston,",1 JUL 2022,3:30 PM IST
7,INDIA WOMEN TOUR OF SRI LANKA ODI SERIES 2022,2nd ODI -,"Pallekele International Cricket Stadium,",4 JUL 2022,10:00 AM IST
8,INDIA WOMEN TOUR OF SRI LANKA ODI SERIES 2022,3rd ODI -,"Pallekele International Cricket Stadium,",7 JUL 2022,10:00 AM IST

### 3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/

You need to find following details:

A) Name

B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [264]:
driver=webdriver.Chrome(r'D:\chromedriver.exe')

In [265]:
driver.get("https://www.guru99.com/")

In [270]:
search=driver.find_element_by_xpath("/html/body/div[1]/header/div[1]/div/div/div/div/div/div/div/div[2]/div[2]/div/button/span")
search.click()

In [272]:
search2=driver.find_element_by_xpath("//input[@class='search-field']")
search2.send_keys("selenium exception handling")

In [273]:
search3=driver.find_element_by_xpath("/html/body/div[3]/div[2]/div[2]/form/input")
search3.click()

In [274]:
click=driver.find_element_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/div/div/div/div/div/div[5]/div[2]/div/div/div[1]/div[1]/div[1]/div[1]/div/a")
click.click()

In [275]:
Name_and_Description=[]

In [276]:
lop=[driver.find_elements_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr[2]"),
driver.find_elements_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr[3]"),
driver.find_elements_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr[4]"),
driver.find_elements_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr[5]"),
driver.find_elements_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr[6]"),
driver.find_elements_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr[7]"),
driver.find_elements_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr[8]"),
driver.find_elements_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr[9]"),
driver.find_elements_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr[10]"),
driver.find_elements_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr[11]"),
driver.find_elements_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr[12]"),
driver.find_elements_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr[13]"),
driver.find_elements_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr[14]"),
driver.find_elements_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr[15]"),
driver.find_elements_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr[16]"),
driver.find_elements_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr[17]"),
driver.find_elements_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr[18]"),
driver.find_elements_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr[19]"),
driver.find_elements_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr[20]"),
driver.find_elements_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr[21]"),
driver.find_elements_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr[22]"),
driver.find_elements_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr[23]"),
driver.find_elements_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr[24]"),
driver.find_elements_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr[25]"),
driver.find_elements_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr[26]"),
driver.find_elements_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr[27]"),
driver.find_elements_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr[28]"),
driver.find_elements_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr[29]"),
driver.find_elements_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr[30]"),
driver.find_elements_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr[31]"),
driver.find_elements_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr[32]"),
driver.find_elements_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr[33]"),
driver.find_elements_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr[34]"),
driver.find_elements_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr[35]"),
driver.find_elements_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr[36]"),
driver.find_elements_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr[37]"),
driver.find_elements_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr[38]"),
driver.find_elements_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr[39]"),
driver.find_elements_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr[40]"),
driver.find_elements_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr[41]"),
driver.find_elements_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr[42]")]

In [278]:
for i in lop:
    tt=i
    for j in tt:
        tt=j.text
        Name_and_Description.append(tt)

In [301]:
Name_and_Description

['ElementNotVisibleException This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 'ElementNotSelectableException This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 'NoSuchElementException This Exception occurs if an element could not be found.',
 'NoSuchFrameException This Exception occurs if the frame target to be switched to does not exist.',
 'NoAlertPresentException This Exception occurs when you switch to no presented alert.',
 'NoSuchWindowException This Exception occurs if the window target to be switch does not exist.',
 'StaleElementReferenceException This Selenium exception occurs happens when the web element is detached from the current DOM.',
 'SessionNotFoundException The WebDriver is acting after you quit the browser.',
 'TimeoutException Thrown when there is not enough time for a command to be completed. For Example, the element searched wasnâ€™t found in the specified time.',
 'WebDriverException This Exception takes place when the WebDriver is acting right after you close the browser.',
 'ConnectionClosedException This type of Exception takes place when there is a disconnection in the driver.',
 'ElementClickInterceptedException The command may not be completed as the element receiving the events is concealing the element which was requested clicked.',
 'ElementNotInteractableException This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.',
 'ErrorInResponseException This happens while interacting with the Firefox extension or the remote driver server.',
 'ErrorHandler.UnknownServerException Exception is used as a placeholder in case if the server returns an error without a stack trace.',
 'ImeActivationFailedException This expectation will occur when IME engine activation has failed.',
 'ImeNotAvailableException It takes place when IME support is unavailable.',
 'InsecureCertificateException Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.',
 'InvalidArgumentException It occurs when an argument does not belong to the expected type.',
 'InvalidCookieDomainException This happens when you try to add a cookie under a different domain instead of current URL.',
 'InvalidCoordinatesException This type of Exception matches an interacting operation that is not valid.',
 'InvalidElementStateExceptio It occurs when command canâ€™t be finished when the element is invalid.',
 'InvalidSessionIdException This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.',
 'InvalidSwitchToTargetException This occurs when the frame or window target to be switched does not exist.',
 'JavascriptException This issue occurs while executing JavaScript given by the user.',
 'JsonException It occurs when you afford to get the session when the session is not created.',
 'NoSuchAttributeException This kind of Exception occurs when the attribute of an element could not be found.',
 'MoveTargetOutOfBoundsException It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.',
 'NoSuchContextException ContextAware does mobile device testing.',
 'NoSuchCookieException This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.',
 'NotFoundException This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.',
 'RemoteDriverServerException This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.',
 'ScreenshotException It is not possible to capture a screen.',
 'SessionNotCreatedException It happens when a new session could not be successfully created.',
 'UnableToSetCookieException This occurs if a driver is unable to set a cookie.',
 'UnexpectedTagNameException Happens if a support class did not get a web element as expected.',
 'UnhandledAlertException This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.',
 'UnexpectedAlertPresentException It occurs when there is the appearance of an unexpected alert.',
 'UnknownMethodException This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.',
 'UnreachableBrowserException This Exception occurs only when the browser is not able to be opened or crashed because of some reason.',
 'UnsupportedCommandException This occurs when remote WebDriver does nâ€™t send valid commands as expected.']

### 4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
    
You have to find following details:
    
A) Rank

B) State

C) GSDP(18-19)

D) GSDP(17-18)

E) Share(2017)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [52]:
driver=webdriver.Chrome(r'D:\chromedriver.exe')

In [53]:
driver.get('http://statisticstimes.com/')

In [55]:
search=driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/button")
search.click()

In [57]:
urls=[]
url_1=driver.find_elements_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
for i in url_1:
    urls.append(i.get_attribute("href"))

In [58]:
urls

['https://www.statisticstimes.com/economy/india-statistics.php']

In [65]:
URL=[]
for i in urls:
    driver.get(i)
    
    aa=driver.find_elements_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
    for x in aa:
        URL.append(x.get_attribute("href"))

In [67]:
URL

['https://www.statisticstimes.com/economy/india/indian-states-gdp.php']

In [129]:
Rank=[]
for i in URL:
    driver.get(i)
    
    ra=driver.find_elements_by_xpath("//td[@class='data1']")
    for x in ra:
        ra=x.text
        Rank.append(ra)

In [131]:
Rank=Rank[0:33]

In [70]:
State=[]
for i in URL:
    driver.get(i)
    
    st=driver.find_elements_by_xpath("//td[@class='name']")
    for x in st:
        st=x.text
        State.append(st)

In [134]:
State=State[0:33]

In [96]:
Details=[]
for i in URL:
    driver.get(i)
    
    gs=driver.find_elements_by_xpath("//td[@class='data']")
    for x in gs:
        gs=x.text
        Details.append(gs)

In [118]:
GSDP_1=Details[0::5]

In [119]:
GSDP_1=GSDP_1[0:33]

In [136]:
Share=Details[1::5]

In [137]:
Share=Share[0:33]

In [152]:
GDP=Details[2::5]

In [153]:
GDP=GDP[0:33]

In [147]:
GSDP_2=[]
for i in URL:
    driver.get(i)
    
    gsd=driver.find_elements_by_xpath("//td[@class='data sorting_1']")
    for x in gsd:
        gsd=x.text
        GSDP_2.append(gsd)

In [149]:
GSDP_2=GSDP_2[0:33]

In [155]:
data=pd.DataFrame({'Rank':Rank,'State':State,'GSDP(18-19)':GSDP_2,"GSDP(19-20)":GSDP_1,'Share_2019':Share,'GDP($ billion)':GDP})

In [156]:
data

,Rank,State,GSDP(18-19),GSDP(19-20),Share_2019,GDP($ billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

### 5. Scrape the details of trending repositories on Github.com.

Url = https://github.com/
    
You have to find the following details:
    
A) Repository title

B) Repository description

C) Contributors count

D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [271]:
driver=webdriver.Chrome(r"D:\chromedriver.exe")

In [272]:
driver.get("https://github.com/")

In [278]:
search=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary")
search.click()

In [279]:
search2=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a")
search2.click()

In [281]:
urls=[]
url=driver.find_elements_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a")
for i in url:
    urls.append(i.get_attribute("href"))

In [282]:
page_url=[]
for i in urls:
    driver.get(i)
    
    p1=driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article[1]/h1/a")
    p2=driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article[2]/h1/a")
    p3=driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article[3]/h1/a")
    p4=driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article[4]/h1/a")
    p5=driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article[5]/h1/a")
    p6=driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article[6]/h1/a")
    p7=driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article[7]/h1/a")
    p8=driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article[8]/h1/a")
    p9=driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article[9]/h1/a")
    p10=driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article[10]/h1/a")
    p11=driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article[11]/h1/a")
    p12=driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article[12]/h1/a")
    p13=driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article[13]/h1/a")
    p14=driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article[14]/h1/a")
    p15=driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article[15]/h1/a")
    p16=driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article[16]/h1/a")
    p17=driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article[17]/h1/a")
    p18=driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article[18]/h1/a")
    p19=driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article[19]/h1/a")
    p20=driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article[20]/h1/a")
    p21=driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article[21]/h1/a")
    p22=driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article[22]/h1/a")
    p23=driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article[23]/h1/a")
    p24=driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article[24]/h1/a")
    p25=driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article[25]/h1/a")
    
    for x in p1:
        page_url.append(x.get_attribute("href"))  
    for x in p2:
        page_url.append(x.get_attribute("href"))    
    for x in p3:
        page_url.append(x.get_attribute("href"))    
    for x in p4:
        page_url.append(x.get_attribute("href"))    
    for x in p5:
        page_url.append(x.get_attribute("href"))    
    for x in p6:
        page_url.append(x.get_attribute("href"))    
    for x in p7:
        page_url.append(x.get_attribute("href"))    
    for x in p8:
        page_url.append(x.get_attribute("href"))    
    for x in p9:
        page_url.append(x.get_attribute("href"))    
    for x in p10:
        page_url.append(x.get_attribute("href"))    
    for x in p11:
        page_url.append(x.get_attribute("href"))    
    for x in p12:
        page_url.append(x.get_attribute("href"))    
    for x in p13:
        page_url.append(x.get_attribute("href"))    
    for x in p14:
        page_url.append(x.get_attribute("href"))    
    for x in p15:
        page_url.append(x.get_attribute("href"))    
    for x in p16:
        page_url.append(x.get_attribute("href"))    
    for x in p17:
        page_url.append(x.get_attribute("href"))    
    for x in p18:
        page_url.append(x.get_attribute("href"))    
    for x in p19:
        page_url.append(x.get_attribute("href"))    
    for x in p20:
        page_url.append(x.get_attribute("href"))    
    for x in p21:
        page_url.append(x.get_attribute("href"))    
    for x in p22:
        page_url.append(x.get_attribute("href"))    
    for x in p23:
        page_url.append(x.get_attribute("href"))    
    for x in p24:
        page_url.append(x.get_attribute("href"))    
    for x in p25:
        page_url.append(x.get_attribute("href"))

In [283]:
Repository_title=[]
for i in page_url:
    driver.get(i)
    
    rt=driver.find_elements_by_xpath("//span[@class='author flex-self-stretch']")
    for x in rt:
        rt=x.text
        Repository_title.append(rt)

In [286]:
Repository_description=[]
for i in page_url:
    driver.get(i)
    
    try:
        rd=driver.find_element_by_xpath("//p[@class='f4 my-3']")
        Repository_description.append(rd.text)
        
    except NoSuchElementException:
        Repository_description.append("---")

In [290]:
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException,InvalidArgumentException,WebDriverException

In [310]:
anguage_used=[]
for i in page_url:
    driver.get(i)
    
    try:
        ls=driver.find_element_by_xpath("//li[@class='d-inline']")
        anguage_used.append(ls.text)
    except NoSuchElementException :
        anguage_used.append("---")

In [314]:
Contributors_count=[]
for i in page_url:
    driver.get(i)
    
    try:
        cc=driver.find_element_by_xpath("//span[@class='Counter']")
        Contributors_count.append(cc.text)
    except NoSuchElementException :
        Contributors_count.append("---")

In [316]:
data=pd.DataFrame({'Repository_title':Repository_title,'Repository_description':Repository_description,'Language_used':anguage_used,
                  'Contributors_count':Contributors_count})

In [317]:
data

,Repository_title,Repository_description,Language_used,Contributors_count
0,mingrammer,ðŸŽ¨ Diagram as Code for prototyping cloud system...,Python\n94.9%,1.3k
1,hashicorp,"Nomad is an easy-to-use, flexible, and perform...",Go\n83.2%,1.6k
2,facebook,Lexical is an extensible text editor framework...,TypeScript\n54.9%,344
3,girliemac,I am trying to describe complex matters in sim...,---,343
4,WenchaoD,"A fully customizable iOS calendar library, com...",Objective-C\n87.9%,1.8k
5,PrefectHQ,The easiest way to automate your data,Python\n100.0%,931
6,Reiten966,Polyformer is an open-source project that aims...,---,25
7,hashicorp,HCL is the HashiCorp configuration language.,Go\n88.2%,462
8,pittcsc,Collection of Summer 2023 tech internships!,Python\n100.0%,999
9,Technawi,---,---,0
10,apache,Apache HBase,Java\n95.8%,3k
11,codeedu,---,TypeScript\n70.8%,70
12,go-gorm,"The fantastic ORM library for Golang, aims to ...",Go\n99.8%,3.2k
13,elixir-ecto,A toolkit for data mapping and language integr...,Elixir\n99.8%,1.3k
14,milvus-io,Vector database for scalable similarity search...,Go\n68.5%,1.6k
15,knative,"Kubernetes-based, scale-to-zero, request-drive...",Go\n97.9%,931
16,Azure,This repository is for active development of t...,Java\n98.7%,1.5k
17,Alamofire,Elegant HTTP Networking in Swift,Swift\n100.0%,7.2k
18,OAI,The OpenAPI Specification Repository,JavaScript\n69.9%,8.4k
19,terraform-aws-modules,Terraform module to create an AWS Application/...,HCL\n100.0%,483
20,google,GoogleTest - Google Testing and Mocking Framework,C++\n90.1%,8.6k
21,fastlane,ðŸš€ The easiest way to automate building and rel...,Ruby\n82.0%,5.2k
22,sourcegraph,Universal code search (self-hosted),Go\n55.3%,788
23,woocommerce,"A customizable, open-source eCommerce platform...",PHP\n64.4%,10.2k
24,firebase,Firebase iOS SDK,Objective-C\n48.1%,1.1k

### 6. Scrape the details of top 100 songs on billiboard.com.

Url = https:/www.billboard.com/
    
You have to find the following details:
    
A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [318]:
driver=webdriver.Chrome(r'D:\chromedriver.exe')

In [319]:
driver.get("https:/www.billboard.com/")

In [320]:
search=driver.find_element_by_xpath("/html/body/div[3]/div[6]/div/div/div/ul/li[1]/h3/a")
search.click()

In [322]:
urll=[]
hot=driver.find_elements_by_xpath("/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div[1]/div[2]/span/a")
for i in hot:
    urll.append(i.get_attribute("href"))

In [338]:
Song_name=[]
for i in urll:
    driver.get(i)
    
    sn=driver.find_elements_by_xpath("//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only']")
    for i in sn:
        sn=i.text
        Song_name.append(sn)

In [346]:
Artist_name=[]
for i in urll:
    driver.get(i)
    
    an=driver.find_elements_by_xpath("//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
    for i in an:
        an=i.text
        Artist_name.append(an)

In [350]:
rank=[]
for i in urll:
    driver.get(i)
    
    an=driver.find_elements_by_xpath("//li[@class='o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max']")
    for i in an:
        an=i.text
        rank.append(an)

In [359]:
Last_week_rank=rank[0::2]

In [360]:
Weeks_on_board=rank[1::2]

In [361]:
pr=[]
for i in urll:
    driver.get(i)
    
    an=driver.find_elements_by_xpath("//li[@class='o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max']")
    for i in an:
        an=i.text
        pr.append(an)

In [364]:
Peak_rank=pr[1::2]

In [365]:
data=pd.DataFrame({'Song name':Song_name,'Artist name':Artist_name,'Last week rank':Last_week_rank,
                  'Peak rank':Peak_rank,'Weeks on board':Weeks_on_board})

In [366]:
data

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,As it was,Harry Styles,1,1,11
1,First Class,Jack Harlow,2,1,10
2,Wait For U,Future Featuring Drake & Tems,3,1,7
3,About Damn Time,Lizzo,5,4,9
4,Running Up That Hill (A Deal With God),Kate Bush,4,4,23
...,...,...,...,...,...
95,Plan B,Megan Thee Stallion,95,29,4
96,Tomorrow Me,Luke Combs,-,61,2
97,Potion,"Calvin Harris, Dua Lipa & Young Thug",87,71,3
98,New Truck,Dylan Scott,-,99,1
99,Wrapped Around Your Finger,Post Malone,47,47,2

### 7. Scrape the details of Data science recruiters from naukri.com.

Url = https://www.naukri.com/

You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [2]:
driver=webdriver.Chrome(r'D:\chromedriver.exe')

In [3]:
driver.get("https://www.naukri.com/")

In [4]:
search2=driver.find_element_by_xpath("//input[@class='suggestor-input ']")
search2.send_keys("Data science")

In [5]:
search3=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search3.click()

In [6]:
urls=[]
url=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in url:
    urls.append(i.get_attribute("href"))

In [11]:
Name=[]
for i in urls:
    driver.get(i)
    
    try:
        na=driver.find_element_by_xpath("//h1[@class='jd-header-title']")
        Name.append(na.text)
    except NoSuchElementException:
        Name.append("---")

In [13]:
Designation=[]
for i in urls:
    driver.get(i)
    
    try:
        na=driver.find_element_by_xpath("/html/body/div[1]/main/div[2]/div[2]/section[2]/div[2]/div[1]")
        Designation.append(na.text)
    except NoSuchElementException:
        Designation.append("---")

In [27]:
dd=[]
for i in Designation:
    
    dd.append(i[4:])

In [29]:
Company=[]
for i in urls:
    driver.get(i)
    
    try:
        na=driver.find_element_by_xpath("/html/body/div[1]/main/div[2]/div[2]/section[1]/div[1]/div[1]/div/a[1]")
        Company.append(na.text)
    except NoSuchElementException:
        Company.append("---")

In [55]:
Skills=[]
for i in urls:
    driver.get(i)
    
    try:
        na=driver.find_element_by_xpath("/html/body/div[1]/main/div[2]/div[2]/section[2]/div[4]")
        Skills.append(na.text)
    except NoSuchElementException:
        Skills.append("---")

In [56]:
SS=[]
for i in Skills:
    SS.append(i[11:])

In [45]:
Location=[]
for i in urls:
    driver.get(i)
    
    try:
        na=driver.find_element_by_xpath("/html/body/div[1]/main/div[2]/div[2]/section[1]/div[1]/div[2]/div[3]/span")
        Location.append(na.text)
    except NoSuchElementException:
        Location.append("---")

In [59]:
data=pd.DataFrame({'Company':Company,'Name':Name,'Designation':dd,'Skills':SS,'Location':Location})

In [60]:
data

,Company,Name,Designation,Skills,Location
0,Naukri Premium - Employer Services,Data Analysis / Data Science,Data Analyst,data analysisbig data analyticsConjointTurf An...,"Chennai, Bangalore/Bengaluru, Mumbai (All Areas)"
1,Accenture,India Market Unit - Data Science Analyst - 11,Business Analyst,Strategy consultingMachine learningprofessiona...,Mumbai
2,Fractal Analytics,Senior Data Science Engineer,Data Scientist,Data Science\nArtificial IntelligenceNatural L...,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ..."
3,Shell,Data Science Analyst,Business Analyst,Data Science\nData Science Analystdata analysi...,"Chennai, Bangalore/Bengaluru"
4,Rise Finconnect Private Limited,"Data Analyst - Data Science, 3 To 5 Years",Data Analyst,Data Analytics\nData ScienceData ManagementDat...,Mumbai (All Areas)
5,Paytm,Data Science - Engineering Manager,Data Scientist,Computer sciencedata scienceEDCMachine learnin...,"Noida, Mumbai, Bangalore/Bengaluru"
6,Accenture,India Market Unit - Data Science Analyst - 11,Business Analyst,Strategy consultingMachine learningprofessiona...,Delhi / NCR
7,Ecom Express Private Limited,Senior Manager- Data Science,Data Scientist,Computer scienceData analysisdata scienceBusin...,Gurgaon/Gurugram
8,Accenture,Senior Analyst-Data Science,Data Analyst,PublishingConsultingPredictive modelingData mi...,Bangalore/Bengaluru
9,HCL Technologies,HCL || Data Science,Data Analyst,Azure Functions\nBusiness IntelligenceArtifici...,"Chennai, Bangalore/Bengaluru, Delhi / NCR"
10,Accenture,ACN - Applied Intelligence - CC - Data Science...,Data Analyst,Data analysisData managementAnalyticalConsulti...,Gurgaon/Gurugram
11,Accenture,ACN - Applied Intelligence - CC - Data Science...,Data Analyst,Data analysisAnalyticalConsultingAnalyticsPyth...,Gurgaon/Gurugram
12,Coforge,Technical Analyst ( Python - Data Science and ...,Data Science & Analytics - Other,python\nmachine learning\nSkills highlighted w...,"Bangalore/Bengaluru, Greater Noida"
13,PayU,Opportunity For Business Analyst - Data Scienc...,Business Analyst,Data scientist\nRNLPNatural Language Processin...,"Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi /..."
14,Dell Technologies,"Senior Advisor, Data Science",Data Scientist,PostgreSQLSQL ServerOracle\nCCassandraProbabil...,Bangalore/Bengaluru
15,Allstate Solutions (ASPL),Data Science Consultant,Statistician,Data Science\nhivepythonexploratory data analy...,Bangalore/Bengaluru
16,Walmart,Data Analyst ll - Data Science,Data Analyst,Supply chainComputer scienceData analysisAgile...,Bangalore/Bengaluru
17,Ecom Express Private Limited,Data Science - Operations Research,Data Analyst,Supply chainData analysisDue diligenceOperatio...,Gurgaon/Gurugram
18,Ecom Express Private Limited,Data Science,Data Scientist,Computer scienceData analysisOperations resear...,Gurgaon/Gurugram

### 8. Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare
    
You have to find the following details:
    
A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [61]:
driver=webdriver.Chrome(r'D:\chromedriver.exe')

In [62]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [64]:
Details=[]
bn=driver.find_elements_by_xpath("//td[@class='left']")
for i in bn:
    bn=i.text
    Details.append(bn)

In [69]:
Rank=Details[0::5]
Book_name=Details[1::5]
Author_name=Details[2::5]
Volumes_sold=Details[3::5]
Publisher=Details[4::5]

In [73]:
Genre=[]
bn=driver.find_elements_by_xpath("//td[@class='last left']")
for i in bn:
    bn=i.text
    Genre.append(bn)

In [76]:
data=pd.DataFrame({"Rank":Rank,'Book Name':Book_name,'Author Name':Author_name,"Volume Sold":Volumes_sold,'Publisher':Publisher,'Genre':Genre})

In [77]:
data

,Rank,Book Name,Author Name,Volume Sold,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

### 9. Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/
    
You have to find the following details:
    
A) Name

B) Year span

C) Genre

D) Run time

E) Rating

In [78]:
driver=webdriver.Chrome(r'D:\chromedriver.exe')

In [79]:
driver.get('https://www.imdb.com/list/ls095964455/')

In [80]:
Name=[]
na=driver.find_elements_by_xpath("//h3[@class='lister-item-header']")
for i in na:
    na=i.text
    Name.append(na)

In [84]:
name=[]
for i in Name:
    name.append(i[3:])

In [93]:
Year=[]
na=driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
for i in na:
    na=i.text
    Year.append(na)

In [94]:
Genre=[]
na=driver.find_elements_by_xpath("//span[@class='genre']")
for i in na:
    na=i.text
    Genre.append(na)

In [97]:
Run_time=[]
na=driver.find_elements_by_xpath("//span[@class='runtime']")
for i in na:
    na=i.text
    Run_time.append(na)

In [100]:
Rating=[]
na=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']")
for i in na:
    na=i.text
    Rating.append(na)

In [103]:
data=pd.DataFrame({'Name':name,'Year':Year,'Genre':Genre,'Run time':Run_time,'Rating':Rating})

In [104]:
data

,Name,Year,Genre,Run time,Rating
0,Game of Thrones (2011â€“2019),(2011â€“2019),"Action, Adventure, Drama",57 min,9.2
1,Stranger Things (2016â€“ ),(2016â€“ ),"Drama, Fantasy, Horror",51 min,8.7
2,The Walking Dead (2010â€“2022),(2010â€“2022),"Drama, Horror, Thriller",44 min,8.2
3,13 Reasons Why (2017â€“2020),(2017â€“2020),"Drama, Mystery, Thriller",60 min,7.5
4,The 100 (2014â€“2020),(2014â€“2020),"Drama, Mystery, Sci-Fi",43 min,7.6
...,...,...,...,...,...
95,Reign (2013â€“2017),(2013â€“2017),"Drama, Fantasy",42 min,7.4
96,A Series of Unfortunate Events (2017â€“2019),(2017â€“2019),"Adventure, Comedy, Drama",50 min,7.8
97,Criminal Minds (2005â€“2020),(2005â€“2020),"Crime, Drama, Mystery",42 min,8.1
98,Scream: The TV Series (2015â€“2019),(2015â€“2019),"Comedy, Crime, Drama",45 min,7.1
99,. The Haunting of Hill House (2018),(2018),"Drama, Horror, Mystery",572 min,8.6

### 10. Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/
    
You have to find the following details:
    
A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the ShowAllDataset page through code

In [105]:
driver=webdriver.Chrome(r'D:\chromedriver.exe')

In [106]:
driver.get('https://archive.ics.uci.edu/ml/index.php')

In [108]:
urls=[]
url=driver.find_elements_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a")
for i in url:
    urls.append(i.get_attribute("href"))

In [110]:
details=[]
dn=driver.find_elements_by_xpath("//p[@class='normal']")
for i in dn:
    dn=i.text
    details.append(dn)

In [119]:
Dataset_name=details[0::7]
Data_type=details[1::7]
Task=details[2::7]
Attribute_type=details[3::7]
No_of_instances=details[4::7]
No_of_attribute=details[5::7]
Year=details[6::7]

In [125]:
Dataset_name=Dataset_name[0:-1]

In [128]:
Data_type=Data_type[0:-1]

In [129]:
data=pd.DataFrame({'Dataset name':Dataset_name,'Data type':Data_type,'Task':Task,"Attribute type":Attribute_type,
                  "No of instances":No_of_instances,'No of attribute':No_of_attribute,'Year':Year})

In [130]:
data

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

### 1. Scrape the details of most viewed videos on YouTube from Wikipedia.

Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

You need to find following details:

A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [131]:
driver=webdriver.Chrome(r'D:\chromedriver.exe')

In [132]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [144]:
x_path=[driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[1]/td[2]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[2]/td[2]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[3]/td[2]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[4]/td[2]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[5]/td[2]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[6]/td[2]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[7]/td[2]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[8]/td[2]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[9]/td[2]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[10]/td[2]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[11]/td[2]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[12]/td[2]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[13]/td[2]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[14]/td[2]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[15]/td[2]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[16]/td[2]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[17]/td[2]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[18]/td[2]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[19]/td[2]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[20]/td[2]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[21]/td[2]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[22]/td[2]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[23]/td[2]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[24]/td[2]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[25]/td[2]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[26]/td[2]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[27]/td[2]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[28]/td[2]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[29]/td[2]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[30]/td[2]")]

In [145]:
Name=[]

for i in x_path:
    xp=i
    xp=i.text
    Name.append(xp)

In [147]:
xpath=[driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[1]/td[3]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[2]/td[3]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[3]/td[3]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[4]/td[3]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[5]/td[3]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[6]/td[3]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[7]/td[3]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[8]/td[3]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[9]/td[3]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[10]/td[3]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[11]/td[3]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[12]/td[3]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[13]/td[3]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[14]/td[3]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[15]/td[3]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[16]/td[3]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[17]/td[3]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[18]/td[3]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[19]/td[3]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[20]/td[3]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[21]/td[3]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[22]/td[3]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[23]/td[3]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[24]/td[3]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[25]/td[3]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[26]/td[3]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[27]/td[3]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[28]/td[3]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[29]/td[3]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[30]/td[3]")]

In [148]:
Artist=[]

for i in xpath:
    xp=i
    xp=i.text
    Artist.append(xp)

In [162]:
Rank=[]
for i in range(1,31):
    Rank.append(i)

In [150]:
Upload_date=[]
up=driver.find_elements_by_xpath("//td[@align='right']")
for i in up:
    up=i.text
    Upload_date.append(up)

In [159]:
xpath2=[driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[1]/td[4]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[2]/td[4]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[3]/td[4]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[4]/td[4]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[5]/td[4]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[6]/td[4]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[7]/td[4]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[8]/td[4]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[9]/td[4]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[10]/td[4]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[11]/td[4]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[12]/td[4]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[13]/td[4]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[14]/td[4]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[15]/td[4]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[16]/td[4]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[17]/td[4]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[18]/td[4]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[19]/td[4]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[20]/td[4]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[21]/td[4]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[22]/td[4]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[23]/td[4]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[24]/td[4]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[25]/td[4]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[26]/td[4]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[27]/td[4]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[28]/td[4]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[29]/td[4]"),
driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[30]/td[4]")]

In [160]:
Views=[]

for i in xpath2:
    xp=i
    xp=i.text
    Views.append(xp)

In [164]:
data=pd.DataFrame({'Rank':Rank,'Name':Name,'Artist':Artist,'Upload date':Upload_date,'Views':Views})

In [165]:
data

,Rank,Name,Artist,Upload date,Views
0,1,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",10.84
1,2,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.88
2,3,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.38
3,4,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.75
4,5,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.55
5,6,"""Bath Song""[20]",Cocomelon â€“ Nursery Rhymes,"May 2, 2018",5.46
6,7,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.69
7,8,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.60
8,9,"""Learning Colors â€“ Colorful Eggs on a Farm""[23]",Miroshka TV,"February 27, 2018",4.58
9,10,"""Masha and the Bear â€“ Recipe for Disaster""[24]",Get Movies,"January 31, 2012",4.50
10,11,"""Gangnam Style""[25]",Psy,"July 15, 2012",4.46
11,12,"""Wheels on the Bus""[30]",Cocomelon â€“ Nursery Rhymes,"May 24, 2018",4.14
12,13,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",3.96
13,14,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.71
14,15,"""Roar""[33]",Katy Perry,"September 5, 2013",3.60
15,16,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.59
16,17,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.56
17,18,"""Thinking Out Loud""[36]",Ed Sheeran,"October 7, 2014",3.46
18,19,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.40
19,20,"""Girls Like You""[38]",Maroon 5,"May 31, 2018",3.30
20,21,"""Faded""[39]",Alan Walker,"December 3, 2015",3.30
21,22,"""Dark Horse""[40]",Katy Perry,"February 20, 2014",3.29
22,23,"""Baa Baa Black Sheep""[41]",Cocomelon â€“ Nursery Rhymes,"June 25, 2018",3.27
23,24,"""Let Her Go""[42]",Passenger,"July 25, 2012",3.25
24,25,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.22
25,26,"""Lean On""[44]",Major Lazer,"March 22, 2015",3.22
26,27,"""Perfect""[45]",Ed Sheeran,"November 9, 2017",3.19
27,28,"""Shake It Off""[46]",Taylor Swift,"August 18, 2014",3.18
28,29,"""Waka Waka (This Time for Africa)""[47]",Shakira,"June 4, 2010",3.17
29,30,"""Mi Gente""[48]",J Balvin,"June 29, 2017",3.10

## ---------------------------------------------------------------------------------------------------------------------------------